// Airbnb font
.base-text {
  font-family: 'Avenir Heavy', Helvetica;
  letter-spacing: inherit !important;
}

// Avenir Book font
.para-text {
  font-family: 'Avenir Light', Helvetica;
}


// Avenir Medium font
.para-medium-text {
  font-family: 'Avenir Medium', Helvetica;
  letter-spacing: inherit !important;
}

// Avenir Book
.para-book-text{
  font-family: "Avenir Book",'Avenir', Helvetica;
}




.heavy-text{
  font-family: 'Avenir Heavy', Helvetica;
  letter-spacing: inherit !important;
}
.roman-text{
  font-family: 'Avenir Roman', Helvetica;
}

.medium-text{
  font-family: 'Avenir Medium', Helvetica;
  letter-spacing: inherit !important;
}
.book-text{
  font-family: 'Avenir Book', Helvetica;
}

.light-text{
  font-family: 'Avenir Light', Helvetica;
}


@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import '../css/font-awesome.min.css';
@import "../fonts/style.css";
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic');
@import "css-grid";

/*
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

@include skel-breakpoints((
        xlarge: '(max-width: 1680px)',
        large: '(max-width: 1280px)',
        medium: '(max-width: 980px)',
        small: '(max-width: 736px)',
        xsmall: '(max-width: 480px)',
        xxsmall: '(max-width: 360px)'
));

@include skel-layout((
        reset: 'full',
        boxModel: 'border'
));

@mixin inner {
  > .inner {
    @include padding(4em, 0);
    width: 100%;

    @include breakpoint(small) {
      @include padding(3em, 0);
      width: calc(100% - 3em);
    }
  }
}

.ant-modal-wrap{
  z-index: 1111111111;
}

// Base.
@import "pages/home";
@import 'base/page';
@import 'base/typography';

// Component.

@import 'components/section';
@import 'components/form';
@import 'components/box';
@import 'components/icon';
@import 'components/image';
@import 'components/list';
@import 'components/table';
@import 'components/button';
@import 'components/tiles';
@import 'components/contact-method';
@import 'components/demoModal';
@import 'components/spotlights';
@import 'components/courseCard';
@import 'components/loader';
@import 'components/scrollbar';

// Layout.

@import 'layout/header';
@import 'layout/banner';
@import 'layout/main';
@import 'layout/contact';
@import 'layout/footer';
@import 'layout/wrapper';
@import 'layout/menu';

// Pages

@import "pages/header";
@import "pages/footer";
@import "pages/blog";
@import "pages/aboutus";
@import "pages/programs";
@import "pages/coaching";
@import "pages/providerProfile";
@import 'pages/programSessions';
@import 'pages/resilify';
@import 'pages/resilifyProgramDetail';
@import 'pages/programsList';
@import 'pages/press';
