.about-us-banner-section {
  position: relative;
  //background: url("/img/about-us-bg.png");
  //background: url("/img/purple_yellow_gradient.jpg");
  background-color: _palette(primary-blue);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  width: 100%;

  .overlay-class{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(106, 77, 192,0.9);
    opacity: 0.8;
  }

  .about-us-banner-content {
    max-width: 49em;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .-highlighted-text{
      background-color: #fff;
      color: #4273f0;
      padding: 0 10px;
    }
    h2, h4 {
      //color: #341f88;
      color: white;
      z-index: 1;
      margin-top: 0px;

    }

    h2{
      font-size: 40px;
      line-height: 60px;
    }

    button {
      margin-top: 15px;
      background-color: _palette(secondary-color);
      font-weight: 600;

      &:hover {
        background-color: darken(_palette(secondary-color), 10%);
        color: _palette(bg-color);
      }
    }
  }
}

.about-us-tabs-container {
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  text-align: center;

  .about-us-tabs {
    display: flex;
    justify-content: center;
    margin: auto;

    h4:not(:last-child) {
      margin-right: 20px;
    }

    h4 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0;
      padding: 25px 15px;
      cursor: pointer;
      position: relative;
      a{
        color: _palette(secondary-color);

        &:hover{
          color: _palette(secondary-color) !important;
        }
      }
      &:before {
         background: _palette(secondary-color);
         bottom: 0px;
         content: "";
         height: 5px;
         left: 0;
         opacity: 0;
         position: absolute;
         -webkit-transition: opacity 0.25s ease-in-out;
         transition: opacity 0.25s ease-in-out;
         width: 100%;
       }

      &:hover {
        &:before {
         opacity: 1;
        }
      }

      @media screen and (max-width: 500px) {
        font-size: 16px;
      }

    }

  }
}

.about-us-mission-container {
  max-width: 65em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  .mission-content {
    width: 50%;

    h2 {
      //font-weight: 600;
      font-size: 40px;
      margin-bottom: 20px;
      color: #4273f0;
    }

    div {
      font-size: 18px;
    }
  }

  .mission-img {
    width: 50%;

    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 40px 10px;
    display: block;
    .mission-content {
      margin-bottom: 10px;
      width: 100%;
    }
    .mission-img{
      width: 100%;
    }
  }
}
.about-us-prob-sol{
  display: flex;

  .problem-section{
    background-color: #E4D1E5;
  }
  .solution-section{
    background-color: #f4e8f4;
  }
  .comm-section{
    padding: 185px 0;
    width: 100%;
    .inner {
      margin: auto;
      width: 50%;
      .title{
        color: _palette(secondary-color);
        margin-bottom: 0px;
      }
      h3{
        margin-bottom: 15px;
      }
      h5{
        color: #32393d;
        opacity: 0.8;
        font-size: 18px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 10px;
    flex-direction: column;
    .problem-section{
      margin-bottom: 10px;
    }
  }
}

.about-us-values{
  padding: 80px 0;
  position: relative;
  h3{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  h6{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .values-container{
    max-width: 65em;
    margin: auto;
  }
  .card-section{
    display: flex;
    flex: 0 0 1;
    justify-content: space-between;
    .card{
      flex: 0 0 33.33%;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      img{
        width: 100%;
      }
      .content{
        padding: 30px 50px;
        p{
          font-size: 16px;
        }
        h4{
          color: #36b5a2;
          margin-bottom: 15px;
        }
      }
      &:not(:last-child){
        margin-right: 15px;
      }
    }
  }
  &:after{
    background: #f5f5f5;
    bottom: 0;
    content: "";
    height: 55%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

.about-us-join-team{
  padding: 40px 0;
  margin-top: 20px;
  text-align: center;
  background-color: _palette(primary-blue);
  color: _palette(bg-color);
  font-weight: 600;

  p{
    margin-bottom: 0px;
    font-size: 40px;
    letter-spacing: 0px;
  }
  button{
    background-color: #028598;
    color: _palette(bg-color);
    font-weight: 600;
    width: 100px;
    &:hover{
      background-color: #064b55;
    }
    border-radius: 10px;
  }
}

.about-us-leadership{
  padding: 50px 0px;
  max-width: 65em;
  margin: auto;
  margin-top: 50px;

  h2{
    //font-weight: 600;
    color: #4273f0;
    margin-bottom: 10px;
    font-size: 40px;
  }
  p{
    font-size: 18px;
  }
  .leader-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
    img{
      width: 75%;
      border-radius: 50%;
    }
    .user{
      width: 30%;
      .name{
        color: #123243;
        //font-weight: 700;
        font-size: 20px;
        text-align: center;
      }
      .title {
        font-size: 16px;
        //font-weight: 700;
        text-align: center ;
      }
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
    p{
      margin-bottom: 10px;
      font-size: 16px;
      text-align: justify;
    }
    .social-icons {
      text-align: center;
      a{
        margin-right: 10px;
      }
      img {
        width: 24px;
        height: 24px;
        border-radius: 5px;
      }
    }
    @media screen and (max-width: 600px) {
      display: block;
      .user{
        margin-bottom: 40px;
      }
    }
  }
  .board-member-section{
    img{
      //border-radius: 15px;
      box-shadow: 10px 20px 60px 0 rgba(0, 0, 0, 0.06);
    }
    .user{
      margin-bottom: 40px;
      .name{
        color: #123243;
        //font-weight: 700;
        margin-bottom: 0px;
        font-size: 20px;
        text-align: center;
      }
      .title {
        font-size: 16px;
        //font-weight: 700;
        text-align: center;
      }
      @media screen and (max-width: 770px) {
        width: 50%;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }
    @media screen and (min-width: 500.5px) {
      display: flex;
    }
  }
}

.about-us-contact-us{
  max-width: 65em;
  margin: 20px auto auto;
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;

  h3{
    margin-bottom: 10px;
    font-size: 24px;
    color: #123243;
  }
  p{
    font-size: 18px;
  }
  a {
    color: _palette(secondary-color);
    &:hover {
      color: darken(_palette(secondary-color),10%) !important;
      text-decoration: underline;
    }
  }
  .support{
    flex: 0 0 45%;
  }
  @media screen and (max-width: 500px) {
    .support{
      word-break: break-all;
      flex: 0 0 100%;
    }
  }
}

.padding-20{
  padding: 20px;
}
