// Publico font
.base-text {
  font-family: 'Publico Text Web Regular', Helvetica;
}

// Apercu font
.para-text {
  font-family: 'Apercu Regular', Helvetica;
}


// Swasth font
.blogs-fonts{
  p,div,h2,h3,li {
    font-family: 'Swasth-font', Helvetica;
  }
  p,div,li{
    letter-spacing: 0.05px;
    font-size: 20px;
  }
  h2,h3,h4,p{
    margin-bottom: 10px;
  }
  h2,h3,h4{
    margin-top: 24px;
    font-family: 'Apercu regular', Helvetica;
  }
  h3{
    font-size: 26px;
  }
  h2{
    font-size: 34px !important;
  }
  strong{
    font-weight: 400 !important;
  }
  h2:first-child{
    margin-top: 0;
  }

}


.navy-blue{
  color: #032230;
}
.blog-padding-0 {
  padding: 0;
  display: block;
}

.featured-articles {
  background: #E9F3FF;
  border-radius: 6px;
  margin-top: 50px;
  padding: 20px;
  .featured-story {
    width: 50%;
    display: inline-block;
    position: sticky;
    top: 0px;
    max-width: 810px;
    padding: 0px 0px 25px;

    .image-wrapper {
      position: relative;
      width: 100%;
      height: 45.2vw;
      max-height: 60vh;
      margin: 0px 0px 5vh;
      overflow: hidden;

      .curl {
        width: 0px;
        height: 0px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 1000;
        overflow: hidden;
        background: rgb(27, 27, 28);
        transition: all 0.3s ease 0s;
      }

      img {
        //object-fit: cover;
        //position: absolute;
        //left: 0px;
        //top: 0px;
        width: 100%;
        height: 100%;
        transform: scale(1);
        border-radius: 6px;
        transition: transform 0.4s ease-out 0s;
      }
    }

    .copy-wrapper {
      opacity: 1;
      margin: 0px;
      transition: opacity 0.4s ease-out 0s;

      h5 {
        color: rgb(255, 51, 102);
        text-transform: uppercase;
        position: relative;
        z-index: 10;
        cursor: pointer;
      }

      h2 {
        color: rgb(0, 0, 0);
        letter-spacing: -0.1px;
        margin: 12px 0px 16px;

        span {
          background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
          background-size: 0px 3px;
          background-position: 0px 90%;
          transition: background-size 0.8s cubic-bezier(0.19, 1, 0.155, 1.01) 0s;
        }
      }

      h6 {
        color: rgb(153, 153, 153);
        text-transform: uppercase;
        position: relative;
        z-index: 10;
        cursor: pointer;
      }
    }
  }
  .recent-stories {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    padding: 0px 0px 0px;

    & > h3 {
      color: rgb(0, 0, 0);
    }

    .styled-article-block {
      margin: 0px 0px 28px;
      width: 100%;
      vertical-align: top;
      position: relative;
    }
  }
}

.all-styled-stories {
  display: flex;
  flex-wrap: wrap;
  .all-styled-book {
    width: 48%;
    margin-bottom: 20px;
    &:not(:nth-child(5n)) {
      margin-left: 2%;
    }
  }
}

.styled-article-hover {
  display: flex;
  & > a {
    position: relative;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    overflow: hidden;
  }
  .image-wrapper {
    position: relative;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
    .styled-image-bg {
      z-index: 9;
      background-size: cover;
      opacity: 0;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-position: center center;
      transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    }
  }
  .text {
    margin-left: 10px;
    .hover-fade {
      font-weight: 500;
      color: rgb(255, 51, 102);
    }
    h5 {
      margin-bottom: 5px;
      line-height: 1.4;
      font-weight: 600;
    }
    h6 {
      a {
        color: _palette(primary-grey);
      }
    }
  }
}

@media screen and (min-width: 901px) {
  .featured-articles {
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width: 900px) and (min-width: 721px) {

  .featured-articles {
    .featured-story {
      width: 100%;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
      .image-wrapper {
        flex: 0 0 50%;
        margin: 0px;
      }
      .copy-wrapper {
        vertical-align: middle;
        margin: 0px 0px 0px 5%;
        h2 {
          font-size: 34px;
          line-height: 1;
        }
      }
    }
  }

  .recent-stories {
    width: 100% !important;
    margin: 0px auto;
    .styled-article-block {
      width: 23% !important;
      //margin: 0px 4% 34px 0px;
    }
  }

  .all-styled-stories {
    .all-styled-book {
      width: 23%;
    }
  }
}

@media (max-width: 721px) {
  .recent-stories {
    .styled-article-block {
      width: 48% !important;
    }
  }
}

@media (max-width: 900px) {
  .recent-stories {
    #articles-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .styled-article-hover {
    display: block !important;

    & > a {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 1024px) {

  .featured-articles {
    .featured-story {
      padding: 56px 0px 25px;

      .copy-wrapper {
        p {
          margin: 0px 0px 16px;
        }
      }
    }
    .recent-stories {
      padding: 56px 0px 0px;
      & > h3 {
        margin: 0px 10px 20px;
      }
      .styled-article-block {
        &:not(:nth-child(5n)) {
          margin-left: 2%;
        }
        margin-bottom: 20px;
      }
    }
  }

  .styled-article-hover {
    width: 100%;
    overflow: hidden;
  }
}
  @media screen and (max-width: 768px) {
    .featured-articles {
      //width: calc(100% - 32px);
      .featured-story {
        width: 100%;
        display: block;
        position: relative;

        .image-wrapper {
          height: calc(100vw - 32px);
        }
      }
      .recent-stories {
        width: 100%;
        display: block;
        margin: 0px auto;
      }
    }
  }

.padd-sec{
  padding-left: 20px !important;
  @media (max-width: 768.5px) {
  padding-left: 0 !important;
  }
}
