// Swasth font
.blogs-fonts{
  p,div,li {
    font-family: 'Avenir Book', Helvetica;
  }
  h2,h3{
    font-family: 'Airbnb Cereal App Bold', Helvetica;

  }
  p,div,li{
    font-size: 16px;
  }
  h2,h3,h4,p{
    margin-bottom: 10px;
  }
  h2,h3,h4{
    margin: 24px 0;
    font-family: 'Airbnb Cereal App Bold', Helvetica;
  }
  h3{
    font-size: 26px;
  }
  h2{
    font-size: 34px !important;
  }
  strong{
    font-weight: 400 !important;
  }
  h2:first-child{
    margin-top: 0;
  }
  li{
    margin-bottom: 0;
  }

}

.after-section{
  @media screen and (max-width: 799px) {
    .col-reverse {
      transform: translateY(0.5%) !important;
    }
  }
}
.subtitle{
  font-size: 16px !important;
}
.navy-blue{
  color: #000000;
}
.blog-padding-0 {
  padding: 0;
  display: block;
}

.featured-articles {
  background: #E9F3FF;
  border-radius: 6px;
  margin-top: 50px;
  padding: 20px;
  .featured-story {
    width: 50%;
    display: inline-block;
    position: sticky;
    top: 0px;
    max-width: 810px;
    padding: 0px 0px 25px;

    .image-wrapper {
      position: relative;
      width: 100%;
      height: 45.2vw;
      max-height: 60vh;
      margin: 0px 0px 5vh;
      overflow: hidden;

      .curl {
        width: 0px;
        height: 0px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 1000;
        overflow: hidden;
        background: rgb(27, 27, 28);
        transition: all 0.3s ease 0s;
      }

      img {
        //object-fit: cover;
        //position: absolute;
        //left: 0px;
        //top: 0px;
        width: 100%;
        height: 100%;
        transform: scale(1);
        border-radius: 6px;
        transition: transform 0.4s ease-out 0s;
      }
    }

    .copy-wrapper {
      opacity: 1;
      margin: 0px;
      transition: opacity 0.4s ease-out 0s;

      h5 {
        color: rgb(255, 51, 102);
        text-transform: uppercase;
        position: relative;
        z-index: 10;
        cursor: pointer;
      }

      h2 {
        color: rgb(0, 0, 0);
        letter-spacing: -0.1px;
        margin: 12px 0px 16px;

        span {
          background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
          background-size: 0px 3px;
          background-position: 0px 90%;
          transition: background-size 0.8s cubic-bezier(0.19, 1, 0.155, 1.01) 0s;
        }
      }

      h6 {
        color: rgb(153, 153, 153);
        text-transform: uppercase;
        position: relative;
        z-index: 10;
        cursor: pointer;
      }
    }
  }
  .recent-stories {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    padding: 0px 0px 0px;

    & > h3 {
      color: rgb(0, 0, 0);
    }

    .styled-article-block {
      margin: 0px 0px 28px;
      width: 100%;
      vertical-align: top;
      position: relative;
    }
  }
}

.all-styled-stories {
  display: flex;
  flex-wrap: wrap;
  .all-styled-book {
    width: 48%;
    margin-bottom: 20px;
    &:not(:nth-child(5n)) {
      margin-left: 2%;
    }
  }
}

.styled-article-hover {
  display: flex;
  & > a {
    position: relative;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    overflow: hidden;
  }
  .image-wrapper {
    position: relative;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
    .styled-image-bg {
      z-index: 9;
      background-size: cover;
      opacity: 0;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-position: center center;
      transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    }
  }
  .text {
    margin-left: 10px;
    .hover-fade {
      font-weight: 500;
      color: rgb(255, 51, 102);
    }
    h5 {
      margin-bottom: 5px;
      line-height: 1.4;
      font-weight: 600;
    }
    h6 {
      a {
        color: _palette(primary-grey);
      }
    }
  }
}

@media screen and (min-width: 901px) {
  .featured-articles {
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width: 900px) and (min-width: 721px) {

  .featured-articles {
    .featured-story {
      width: 100%;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
      .image-wrapper {
        flex: 0 0 50%;
        margin: 0px;
      }
      .copy-wrapper {
        vertical-align: middle;
        margin: 0px 0px 0px 5%;
        h2 {
          font-size: 34px;
          line-height: 1;
        }
      }
    }
  }

  .recent-stories {
    width: 100% !important;
    margin: 0px auto;
    .styled-article-block {
      width: 23% !important;
      //margin: 0px 4% 34px 0px;
    }
  }

  .all-styled-stories {
    .all-styled-book {
      width: 23%;
    }
  }
}

@media (max-width: 721px) {
  .recent-stories {
    .styled-article-block {
      width: 48% !important;
    }
  }
}

@media (max-width: 900px) {
  .recent-stories {
    #articles-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .styled-article-hover {
    display: block !important;

    & > a {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 1024px) {

  .featured-articles {
    .featured-story {
      padding: 56px 0px 25px;

      .copy-wrapper {
        p {
          margin: 0px 0px 16px;
        }
      }
    }
    .recent-stories {
      padding: 56px 0px 0px;
      & > h3 {
        margin: 0px 10px 20px;
      }
      .styled-article-block {
        &:not(:nth-child(5n)) {
          margin-left: 2%;
        }
        margin-bottom: 20px;
      }
    }
  }

  .styled-article-hover {
    width: 100%;
    overflow: hidden;
  }
}
  @media screen and (max-width: 768px) {
    .featured-articles {
      //width: calc(100% - 32px);
      .featured-story {
        width: 100%;
        display: block;
        position: relative;

        .image-wrapper {
          height: calc(100vw - 32px);
        }
      }
      .recent-stories {
        width: 100%;
        display: block;
        margin: 0px auto;
      }
    }
  }

.padd-sec{
  padding-left: 20px !important;
  @media (max-width: 768.5px) {
  padding-left: 0 !important;
  }
}



// Updated Blog Design
.vertical-blog-card{
  padding: 5px;
  flex: 0 0 33.333%;
}
.horizontal-blog-card{
  padding: 5px;
  flex: 0 0 50%;
  position: relative;
  a{
    &:hover{
      color: _palette(primary-blue) !important;
    }
  }
  .blog-img-flex{
    flex: unset !important;
    img {
      width: 120px !important;
      height: 120px !important;
      border-radius: 40px;
    }
  }
  .story-content{
    padding-right: 40px;
  }
  .card-title{
    font-size: 20px;
    margin-bottom: 0px;
  }
  .arrow-icon{
    position: absolute;
    right: 20px;
    &:hover{
      color: _palette(primary-blue);
    }
  }
}
.vertical-card{
  box-shadow: 0 0px 25px 0 rgba(60, 128, 209, 0.09);
  background-color: _palette(bg);
  padding: 10px;
  border-radius: 25px;
  position: relative;
  height: 100%;
  .story{
    img{
      width: 100%;
      height: 100%;
      border-radius: 25px;
    }
    .story-content{
      padding: 15px;
      .user-name{
        position: absolute;
        bottom: 0;
      }
    }
    .vertical-card-title{
      font-size: 20px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .vertical-card-description{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 20px;
    }
  }
}
.horizontal-card{
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 0px 25px 0 rgba(60, 128, 209, 0.09);
  background-color: _palette(bg);
  padding: 10px 10px 0;
  position: relative;
  .blog-img-flex{
    flex: 0 0 50%;
    padding-right: 20px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 25px;
    }
  }
  .horizontal-card-description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .horizontal-card-detail-description{
    margin-bottom: 20px;
  }
  .blog-user, .blog-top-section-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

    .user-info {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      color: _palette(dark-gray);
      font-family: "Airbnb Cereal App Book", Helvetica !important;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 10px;
      }
    }

    .social-icons {
      i {
        border-radius: 50px;
        color: _palette(bg);
        font-size: 16px;
        padding: 10px;
        background: _palette(fg-bold);
        margin-left: 10px;
      }
    }

    .social-button {
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
      text-align: center;
    }

    .social__share-count {
      display: none;
      justify-content: center;
      white-space: nowrap;
      overflow: visible;
      width: 0;
      margin-top: 3px;
      font-size: 12px;
    }

    .social__share-button {
      cursor: pointer;
      box-shadow: none;
    }

    .social__share-button:hover:not(:active) {
      opacity: 0.75;
    }

    .social__custom-icon {
      width: 32px;
      height: 32px;
    }


    @media screen and (max-width: 470px) {
      flex-direction: column;
      align-items: flex-start !important;
      .user-info {
        margin-bottom: 10px;
        margin-left: -10px;
      }
    }

  }
}
.initial-blog{
  width: 100%;
  margin-top: 50px;
  .user-name{
    color: _palette(secondary-color);
  }
}

.blog-page-recent-stories-text{
  color: #000000;
  font-size: 24px;
}

.recent-stories-section{
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
}
.all-stories-section{
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 1050px) {
  .vertical-blog-card{
    flex: 0 0 50%;
  }
  .horizontal-blog-card{
    flex: 0 0 100%;
    width: 100%;
    .horizontal-card{
      flex-direction: row !important;
    }
  }
}
@media screen and (max-width: 780px) {
  .horizontal-card{
    flex-direction: column;
    .blog-text{
      margin-top: 10px;
      padding: 20px;
    }
  }
}
@media screen and (max-width: 600px) {
  .recent-stories-section {
    //flex-wrap: nowrap;
    overflow: auto;
    .vertical-blog-card {
      flex: 0 0 100%;

      .vertical-card {
        .vertical-card-description {
          -webkit-line-clamp: 5;
        }
      }
    }
  }
  .all-stories-section{
    .horizontal-card{
      padding: 16px;
      flex-direction: column !important;
      align-items: flex-start;
      .arrow-icon{
        display: none;
      }
      .story-content{
        padding-right: 0px;
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .horizontal-card{
    .blog-img-flex{
      padding-right: 0px;
      img{
        width: 100% !important;
        margin-bottom: 10px;
        height: 100% !important;
      }
    }
    .user-name{
      margin-top: 10px;
    }
  }
}

