
.coaching-mobile-section {
  display: none;
}

.coaching-section {
  position: relative;

  .coaching-product-section {
    position: absolute;
    z-index: 1;
    top: 24px;
    left: 0px;
    width: 100%;

    img {
      width: 30px;
      margin-right: 10px;
    }

    .product-title {
      font-size: 24px;
      color: white;
      top: 50px;
      max-width: 1400px;
      margin: auto;
      display: flex;
      align-items: center;
      @media only screen and (max-width: 1400px) {
        margin-left: 20px;
      }
    }
  }

  .coaching-landing-page-tab {
    .ant-tabs-nav {
      max-width: 1400px;
      margin: auto;
      display: flex;
      justify-content: center;
      @media only screen and (max-width: 1400px) {
        justify-content: flex-end;
      }
      @media only screen and (max-width: 1150px) {
        margin-left: 150px !important;
        .ant-tabs-tab {
          margin-right: 0px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .coaching-section {
    display: none;
  }
  .coaching-mobile-section {
    display: block;
  }
}


.coaching-landing-page-tab {

  @media only screen and (min-width: 769.5px) {
    overflow: unset;
  }

  .ant-tabs-bar {
    border-bottom: none;
    margin-bottom: 0px;
  }

  .ant-tabs-nav-wrap {
    //background: _palette(dark-blue);
    background: #4373f0fa;

    .ant-tabs-nav > div {
      display: flex;
      padding: 15px 5px 15px;
    }

    .ant-tabs-tab {
      font-size: 16px;
      z-index: 1111111;
      //border-radius: 5px;
      //box-shadow: rgbproduct-titlea(0, 0, 0, 0.1) 0px 0px 15px;
      //background: white;
      //min-height: 100px;
      //min-width: 200px;
      .tab-title {
        font-family: _font(base-medium-font);
        color: _palette(blog-user);
        display: flex;
        align-items: center;

        img {
          width: 20px;
          margin-right: 10px;
        }

        .tab-div-title {
          max-width: 200px;
          color: _palette(bg);
        }
      }

      .unselected-tab {
        //opacity: 0.6;
      }
    }

    .ant-tabs-tab-active {
      //border: 2px solid _palette(primary-blue);
      border-bottom: 3px solid _palette(bg);

      .tab-title {
        .tab-div-title {
          color: _palette(bg);
        }
      }
    }

    .ant-tabs-ink-bar {
      display: none !important;
    }
  }
}


.coaching-program-collapsible {
  .ant-collapse-header {
    p:not(:first-child) {
      color: _palette(primary-blue) !important;
    }

    svg {
      fill: _palette(primary-blue) !important;
    }
  }

  .ant-collapse-item-active {
    //border: 1px solid _palette(primary-blue);

    .ant-collapse-content {
      //border-bottom: 1px solid _palette(primary-blue);
    }
  }
}

.coaching-program-collapse {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  padding: 15px;

  .sessions-section {
    width: 50%;
    flex: 0 0 50%;
    padding: 10px;

    .session-sequence {
      color: _palette(blue-color);
    }

    @media (max-width: 600px) {
      width: 100%;
      flex: 0 0 100%;
    }
  }

  @media (max-width: 600px) {
    padding: 15px 0px;
  }

  .ant-tabs-nav-wrap {
    background: _palette(bg);
  }
}

// Overview Section

.coaching-overview-container {
  .coaching-overview {
    transition: filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
    position: relative;
    width: 100%;
    background: #754af61f;

    .card-row {
      padding: 0 0px 0px !important;

      .content {
        h3 {
          margin-bottom: 20px;
          font-size: 50px;
          line-height: 60px;
          color: _palette(blue-color);
        }

        p {
          margin-bottom: 50px;
          color: _palette(dark-blue);
        }
      }

      .img-section {
        padding-top: 150px;
      }

    }


    .bg-img {
      &:before {
        background: url("/img/Coaching-bg.png") bottom center no-repeat;
        transform: translateX(20%);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      img {
        max-width: 420px;
        margin-bottom: -50px;
        border-radius: 10px;
      }
    }

    @media (max-width: 769px) {
      .card-row {
        flex-direction: column-reverse;
        padding-bottom: 20px !important;

        .img-section {
          padding-top: 40px;
        }
      }
      .bg-img {
        img {
          display: none;
        }
      }
    }

  }

  .coaching-overview-access-section {
    margin-top: 100px;
    background: rgba(66, 115, 240, 0.14);
    padding: 100px 100px 50px;
    border-radius: 10px;
    //box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
    h2 {
      font-size: 36px;
      line-height: 45px;
    }

    .divider {
      border-top: 1px solid #6b6b6b3d;
      border-bottom: none !important;
      padding: 0px !important;
      margin: 30px 0;
    }

    .section-img {
      margin-top: 50px;
      width: 100%;
      border-radius: 10px;
    }

    .sequence-sections {
      display: flex;
      flex: 0 0 100%;
      flex-wrap: wrap;

      .section {
        flex: 0 0 25%;
        padding: 15px;

        h3 {
          font-size: 40px;
        }

        .title {
          font-size: 24px;
          margin-bottom: 20px;
          color: #333333;
        }

        .desc {
          font-size: 18px;
        }
      }
    }

    @media (max-width: 1200px) {
      padding: 50px;
      .sequence-sections {
        .section {
          flex: 0 0 50%;
        }
      }
    }
    @media (max-width: 800px) {
      margin-top: 50px;
      padding: 30px;
      display: flex;
      flex-direction: column-reverse;
      img {
        margin-top: 0px !important;
        margin-bottom: 40px;
      }
      .divider {
        display: none;
      }
      h2 {
        font-size: 36px;
        line-height: 45px;
      }
    }

    @media (max-width: 700px) {
      .sequence-sections {
        flex-wrap: nowrap;
        overflow-x: auto;

        .section {
          flex: 0 0 90%;
        }
      }
    }
    @media (max-width: 500px) {
      padding: 20px;
      h2 {
        font-size: 36px;
        line-height: 45px;
      }
    }

  }

  .coaching-overview-choose-section {
    margin-top: 100px;

    h2 {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 40px;
    }

    .sequence-sections {
      display: flex;
      flex: 0 0 100%;
      flex-wrap: wrap;

      .section {
        flex: 0 0 25%;
        padding: 20px 30px;

        img {
          width: 100%;
          margin-bottom: 20px;
          border-radius: 5px;
        }

        h3 {
          font-size: 40px;
        }

        .title {
          font-size: 24px;
          margin-bottom: 20px;
          color: #333333;
        }

        .desc {
          font-size: 16px;
        }
      }
    }

    @media (max-width: 1200px) {
      .sequence-sections {
        .section {
          flex: 0 0 50%;
        }
      }
    }
    @media (max-width: 700px) {
      h2 {
        font-size: 36px;
        line-height: 45px;
      }
      .sequence-sections {
        flex-wrap: nowrap;
        overflow-x: auto;

        .section {
          flex: 0 0 90%;

          &:first-child {
            padding-left: 0px;
          }
        }
      }
    }
  }

  .coaching-overview-new-skills-section {
    margin-top: 0px;
    //background: rgba(117, 74, 246, 0.70);
    padding: 30px 0px;
    border-radius: 10px 10px 0 0;

    .content {
      h3, p {
        margin-bottom: 30px;
        //color: white
      }
    }
    .img-section{
      padding: 20px;
      border-radius: 10px;
      background: rgba(71, 118, 240, 0.37);
    }

    @media (max-width: 769px) {
      padding: 0px !important;
      margin-top: 50px;
      .content{
        h3 {
          margin-top: 30px;
        }
      }
      .card-row {
        padding: 0px !important;
        .card-row {
          padding: 0px 0px !important;
          flex-direction: column-reverse;
        }
      }
    }
  }

  .coaching-overview-track-progress-section {
    //background: rgba(117, 74, 246, 0.50);
    padding: 0px 0px;
    border-radius: 0 0 10px 10px;

    .content {
      h3, p, a {
        margin-bottom: 30px;
        //color: white
      }

      a {
        font-size: 16px;

        .anticon {
          margin-left: 10px;
        }
      }
    }

    .img-section{
      padding: 20px;
      border-radius: 10px;
      background: rgba(71, 118, 240, 0.37);
      margin-right: 3rem;
    }

    @media (max-width: 769px) {
      padding: 0px !important;
      .img-section{
        margin-right: 0px;
      }
      .content{
        h3 {
          margin-top: 30px;
        }
      }
      .card-row {
        padding: 0px !important;
        .card-row {
          padding: 40px 0px !important;
          flex-direction: column;
        }
      }
    }

  }

  .coaching-overview-bhp-container {
    margin-top: 100px;
    padding: 100px 0;
    background: rgba(241, 241, 241, 0.2);
    width: 100%;

    h2 {
      font-size: 40px;
      line-height: 45px;
      color: _palette(primary-blue);
    }

    .card-row {
      justify-content: center;
    }

    .padded-view {
      padding: 20px 80px;
      justify-content: space-between;

      .custom-image {
        border-radius: 10px;
      }

    }

    .bg-img {
      background: #754af630;
      border-radius: 10px;
    }

    @media (max-width: 769px) {
      margin-top: 50px;
      padding: 50px 0 0;
      h3 {
        font-size: 30px !important;
        line-height: 40px !important;
      }
      .card-row {
        padding: 0px;
      }
      .padded-view {
        padding: 40px 10px 20px;
        border-bottom: 1px solid #6b6b6b3d;
        margin-bottom: 40px;

        img {
          margin-bottom: 40px;
        }
      }
      .bg-img {
        .padded-view {
          padding: 40px 40px 20px;
          border-bottom: none;
          margin-bottom: 0px;
        }

        img {
          margin-top: 40px;
          margin-bottom: 0px;
        }
      }
      .divider {
        padding: 20px 40px;
      }
    }


  }

  .coaching-overview-bhp-flex-section {
    margin-top: 100px;

    .sequence-sections {
      display: flex;
      flex: 0 0 100%;
      flex-wrap: wrap;

      .section {
        flex: 0 0 33%;
        padding: 0 30px 20px 30px;

        &:not(:nth-child(1)) {
          border-right: 1px solid #6b6b6b3d;
          border-bottom: 1px solid #6b6b6b3d;
        }

        &:nth-child(1) {
          padding: 100px 40px;
          border-radius: 10px 10px 0 10px;
        }

        img {
          width: 100%;
          margin-bottom: 20px;
          border-radius: 10px;
        }

        .title {
          font-size: 24px;
          margin-bottom: 20px;
          color: #333333;
        }

        .text {
          color: _palette(primary-color);
          font-size: 16px;
        }

        .desc {
          font-size: 16px;
        }
      }

      .bg-section {
        background: rgba(66, 115, 240, 0.14);
      }

      @media (max-width: 780px) {
        overflow-x: auto;
        flex-wrap: nowrap;
        .section {
          flex: 0 0 75%;
        }
      }
      @media (max-width: 425px) {
        .section {
          flex: 0 0 90%;
        }
      }
    }

    @media (max-width: 780px) {
      margin-top: 50px;
    }
  }

}


// Client's Programs
.coaching-programs-banner-section {
  background: #4273f01c;
  padding: 100px 0;
  border-top: 2px solid #ffffff2e;
  position: relative;

  .tab-view {
    line-height: 60px;
    color: _palette(blue-color);
  }

  .date-text{
    font-size: 15px;
    color: #4273f0;
  }

  &:before {
    background: url("/img/Coaching-bg.png") bottom center no-repeat;
    transform: translateX(20%);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.no-banner {
  background: transparent;
  padding-bottom: 0px;

  &:before {
    content: none;
    background: none;
  }

  .ant-row {
    text-align: center;
  }

  .custom-image {
    width: 60%;
    margin: auto;

  }

  @media only screen and (max-width: 1025px) {
    padding-top: 40px;
    .custom-image {
      width: 100%;
    }
  }
  @media only screen and (max-width: 600px) {
    padding-top: 20px;
    .ant-row {
      padding-bottom: 0px !important;
    }
    .custom-image {
      width: 100%;
    }
  }
}

.clients-navigation-wrapper {
  position: relative;
  padding: 50px 0px;

  .keen-slider {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
  }

  .keen-slider__slide {
    flex: 0 0 33%;
    padding: 20px;

    &:nth-child(3n + 1) {
      padding-left: 0px;
    }

    .animated {
      height: 100%;
    }

    &:hover {
      color: inherit !important;
    }

    @media only screen and (max-width: 1200px) {
      flex: 0 0 50%;
    }

    @media only screen and (max-width: 780px) {
      flex: 0 0 100%;
      padding: 10px 0px 30px;
    }

  }
}


// Experts Data
.experts-navigation-wrapper {

  margin: 50px 0px;

  .experts-title-text {
    margin-bottom: 30px;
    padding: 0 20px;
  }

  .keen-slider {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;

    .expert-container {
      flex: 0 0 25%;
      padding: 15px;
      cursor: pointer;
      transition: transform 0.25s ease-in-out;

      .info {
        //box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        //padding: 20px;
        border-radius: 10px;
        height: 100%;

        .img {
          //text-align: center;
          display: flex;
          align-items: flex-start;
          //margin-bottom: 8px;
          height: 100%;
          border-radius: 10px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }

          .expert-img {
            position: relative;
            width: 100%;
            .expert-info-section{
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              position: absolute;
              bottom: 5px;
              height: 50%;
              background-image: linear-gradient(to bottom, rgba(234, 237, 241, 0), rgba(0,0,0,0.8) 89%);
              width: 100%;
              padding: 0 20px;
              border-radius: 10px;
              .name {
                color: white;
                margin-bottom: 10px;
                font-size: 20px;
              }

              .expertise {
                color: white;
                font-size: 16px;
                margin-bottom: 15px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
              @media only screen and (max-width: 1024.5px) {
                  bottom: 8px !important;
              }
              @media only screen and (max-width: 769.5px) {
                  bottom: 0px !important;
              }
            }
          }
        }



        .description {
          font-size: 14px;
          margin-bottom: 10px;
          color: _palette(blog-user);
        }

      }

      &:hover {
        transform: scale(1.05);
        color: inherit !important;
      }

      @media only screen and (max-width: 1240px) {
        flex: 0 0 33%;
      }

      @media only screen and (max-width: 770px) {
        flex: 0 0 50%;
        .img {
          flex-direction: column;

          img {
            margin-bottom: 15px;
          }

          .name {
            margin-bottom: 0px;
          }
        }
      }
      @media only screen and (max-width: 475px) {
        flex: 0 0 100%;
      }
    }
  }

  @media only screen and (max-width: 780.5px) {
    margin-top: 30px;
  }
}


// Coach Program CSS
.coaching-program-page {
  .video-section {
    margin-bottom: 40px;
    justify-content: space-between;
    padding: 50px 0px;

    .card-row {
      justify-content: space-between;
    }

    .program-basics {
      margin-top: 10px;

      svg {
        margin-right: 15px;
      }

      p {
        margin-bottom: 15px;
        font-size: 16px;
        display: flex;
        align-items: flex-start;

        .anticon {
          font-size: 24px;
        }
      }
    }

    .program-price {
      color: _palette(dark-blue);
      font-size: 40px;
    }

    @media only screen and (min-width: 770px) and (max-width: 1200px) {
      .video-img {
        width: 100% !important;
      }
      .ant-col {
        width: 50% !important;
      }
    }
    @media only screen and (max-width: 769px) {
      padding: 20px 0px;
      flex-direction: column-reverse;
      .video-img {
        margin-bottom: 40px;
        width: 100% !important;
      }
      .ant-col {
        width: 100% !important;
      }
    }

  }

  .banner-section {
    background: #2a3c5f;
    padding: 100px 0;

    .tab-view {
      line-height: 60px;
      color: white;
    }

    .desc-view {
      color: white;
      text-align: center;
      font-size: 18px;
    }

    .img-overlay {
      background-position: -90px 188px !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      opacity: 0.06;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

    @media screen and (max-width: 769px) {
      .desc-view {
        text-align: left;
      }
      .tab-view {
        padding: 20px 0px 0px !important;
      }
    }
  }

  .how-it-works {
    background: white;
    padding-top: 100px;
    padding-bottom: 50px;

    .tab-view, .desc-view {
      color: _palette(dark-blue);
    }

    .desc-view {
      font-size: 20px;
    }

    .how-it-works-section {
      margin-top: 50px;

      .sequence-sections {
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;

        .section {
          flex: 0 0 25%;
          padding: 20px 10px 0;

          .card {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
            height: 100%;
            border-radius: 0 0 10px 10px;
          }

          img {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 10px 10px 0px 0px;
          }

          h3 {
            font-size: 40px;
          }

          .title {
            font-size: 20px;
            color: _palette(dark-blue);
            padding: 0 20px;
            margin-bottom: 10px;
            text-align: center;
          }

          .desc {
            font-size: 16px;
            padding: 0 20px 20px;
          }
        }

        @media screen and (max-width: 1280px) {
          .section {
            flex: 0 0 33%;
          }
        }
        @media screen and (max-width: 769px) {
          .section {
            flex: 0 0 50%;
          }
        }
        @media screen and (max-width: 600px) {
          .section {
            flex: 0 0 100%;
          }
        }
      }
    }

    @media screen and (max-width: 769px) {
      padding-top: 50px;
      .how-it-works-section {
        margin-top: 0px;

        .sequence-sections {
          .section {
            padding: 0px 0px 20px;
          }
        }
      }
      #wrapper {
        padding-bottom: 0px;
      }
    }

  }

  .program-bottom-section {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 50px;
    margin: 100px 0px;

    .card-col {
      //margin-top: 50px;
    }

    .transform-section-img {
      height: auto;
    }

    .subtitle {
      margin-bottom: 20px;

      h4 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: black;
        margin-bottom: 15px;
      }
    }

    .instructor-profile {
      display: flex;
      margin-bottom: 50px;

      .instructor-image {
        width: 150px;
        height: 150px;
        margin-right: 20px;
        border-radius: 50% 0 50% 50%;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
      }


      h3 {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 20px;
        margin-left: 15px;
        color: _palette(primary-blue);
      }

      p {
        font-size: 16px;
        margin: 15px 0 15px 15px;
        line-height: 26px;
      }

      @media screen and (max-width: 700px) {
        display: block;
        .instructor-image {
          margin-bottom: 10px;
          border-radius: 50% 50% 50% 0%;
        }
        h3, p {
          margin-left: 0;
        }
      }
    }

    .instructor-interest-education {
      display: flex;
      align-items: center;
      @media screen and (max-width: 769px) {
        display: block;
        .flex-box {
          padding: 0px !important;
        }
      }
    }

    .flex-box {
      width: 50%;

      &:first-child {
        padding-right: 20px;
      }

      @media screen and (max-width: 769px) {
        width: 100%;
      }
    }

    .box {
      border-radius: 15px;
      border: solid 2px #d6d6d6;
      background-color: rgba(231, 231, 231, 0.1);
      padding: 20px;
      margin-bottom: 1rem;

      h4 {
        color: _palette(primary-blue);
      }

      ul {
        list-style: none; /* Remove default bullets */
        margin-top: 15px;

        li {
          margin-top: 10px;
          color: #767676;
          font-family: 'Avenir', Helvetica;
          font-size: 16px;
        }
      }

      ul li::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: _palette(primary-blue); /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
        padding-right: 2rem;
      }

      .flex-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        li {
          width: 50%;
          padding-right: 10px;
          display: flex;
        }

        @media screen and (max-width: 700px) {
          display: block;
          width: 100%;
          li {
            width: 100%;
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      padding: 20px;
      width: calc(100% + 24px) !important;
      margin-left: -8px;
      margin-right: -8px;
    }
  }

}


// Programs For Professionals
.professionals-banner-section {
  padding: 50px 0px;
}

.coach-grid-view {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  margin: 50px 0px;

  .coach-grid-view-card {
    padding: 10px;
    flex: 0 0 33%;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      min-height: 250px;
      border-radius: 10px;
    }

    .coach-info {
      position: absolute;
      bottom: 10px;
      border-radius: 10px;
      padding-bottom: 32px;
      padding-top: 32px;
      padding-left: 30px;
      width: 100%;
      color: _palette(bg);
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
      font-size: 24px;
      letter-spacing: 1.2px;
      margin-bottom: -5px;
      line-height: 26px;

      div {
        font-size: 16px;
        margin-top: 5px;
        color: _palette(base-font);
        font-family: _font(para-font);
      }
    }

    @media only screen and (min-width: 800.5px) {

      &:nth-child(3n+1) {
        padding-left: 0;

      }

      &:nth-child(3n) {
        padding-right: 0;

      }
    }

    @media only screen and (max-width: 800px) {
      &:nth-child(2n+1) {
        padding-left: 0;
        padding-right: 10px;
      }
      &:nth-child(2n) {
        padding-right: 0;
      }
      .coach-info {
        padding-left: 20px;
        font-size: 18px;

        div {
          font-size: 14px;
        }
      }
      flex: 0 0 50%;
    }
    @media only screen and (max-width: 500px) {
      flex: 0 0 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &:hover {
      color: inherit !important;
    }

  }
}

.professional-page-banner {
  //padding: 50px 0;
  height: 30em;

  #wrapper {
    text-align: left;

    h1 {
      width: 50%;
      font-size: 36px !important;
      text-align: left !important;
      text-shadow: 2px 2px #353535;
    }

    p {
      color: _palette(bg);
      font-size: 20px;
      text-shadow: 2px 2px #353535;
    }

    @media screen and (max-width: 900px) {
      padding: 0 50px !important;
      h1 {
        width: 100%;
      }
    }
    @media screen and (max-width: 500px) {
      padding: 0 20px !important;
      h1 {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 736px) {
    min-height: 20em !important;
    max-height: 20em !important;
    top: 0px !important;
    padding: 0px !important;
  }
}

.home-signature-courses {
  cursor: pointer;

  .title {
    font-size: 24px;
    color: rgb(51, 51, 51);
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  }
}

.short-courses {
  margin-top: 50px;

  .course-card {
    max-width: unset;
    display: flex;
    min-height: 350px;

    .course-card-image {
      width: 500px;
      max-width: 500px;
      overflow: visible;

      img {
        border-radius: 10px 0 0 10px;
        min-height: 100%;
        width: 500px;
        max-width: 500px;
      }
    }

    .course-card-content {
      padding: 30px 30px 100px;
      position: relative;
      border-radius: 0 10px 10px 0;
      overflow: hidden;

      .course-basics {
        display: flex;

        p {
          margin-right: 15px;
        }
      }

    }

    .course-card-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      bottom: 40px;

      .course-card-footer-coach {
        margin-left: 10px;
      }

      p {
        font-size: 16px;
      }
    }

    @media screen and (max-width: 1100px) {
      .course-card-image {
        width: 400px;
        max-width: 400px;

        img {
          width: 400px;
          max-width: 400px;
        }
      }
    }
    @media screen and (max-width: 880px) {
      height: 300px;
      .course-card-image {
        width: 300px;
        max-width: 300px;

        img {
          width: 300px;
          max-width: 300px;
        }
      }
    }
    @media screen and (max-width: 770px) {
      flex-direction: column;
      height: 100%;
      .course-card-image {
        width: 100%;
        max-width: 100%;

        img {
          border-radius: 10px 10px 0 0px;
          width: 100%;
          max-width: 100%;
          height: 300px;
        }
      }
    }
  }
}

.organization-approach {
  //display: flex;
  flex: 0 0 100%;
  margin: 60px 0 0px;
  padding-bottom: 60px;

  &.left-approach {
    .organization-approach-html {
      //padding-right: 40px;
    }

    img, .video-img {
      float: right;
      margin-left: 40px;
    }

    @media screen and (max-width: 992.5px) {
      display: flex;
      flex-direction: column;
      .organization-approach-html {
        padding-right: 0px;
      }
      img {
        margin-bottom: 30px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;

      }
      .video-img {
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100% !important;
        height: 240px !important;
      }
    }

  }

  &.right-approach {
    .organization-approach-html {
      //padding-left: 40px;
    }

    img, .video-img {
      float: left;
      margin-right: 40px;
    }

    @media screen and (max-width: 992.5px) {
      flex-direction: column;
      margin-top: 0px;
      .organization-approach-html {
        padding-left: 0px;
      }
      img {
        margin-bottom: 30px;
        width: 100%;
      }
      .video-img {
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100% !important;
      }
    }
  }

  .video-img {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    width: 500px !important;
    height: 300px !important;

    iframe {
      //width: 100% !important;
      //height: 240px !important;
    }
  }

  .organization-approach-html {
    flex: 0 0 50%;

    p, div, li, span {
      font-family: _font(light-font) !important;
      font-size: 16px;
      margin-bottom: 12px;
    }

    a {
      color: darken(_palette(primary-purple), 10%);

      &:hover {
        color: darken(_palette(primary-purple), 20%) !important;
      }
    }

    li {
      margin-bottom: 10px;
    }

    strong, b {
      font-weight: normal !important;
      font-family: _font(para-font) !important;
    }

    h1, h2, h3, h4, h5 {
      font-family: _font(base-font) !important;

      span {
        font-family: _font(base-font) !important;
      }

      margin-bottom: 10px;
    }

    h2 {
      font-size: 30px;
    }

  }

  img {
    width: 40%;
    flex: 0 0 50%;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 992.5px) {
    padding-bottom: 50px;
  }
}

.player {
  height: 100% !important;
}

.organization-members-container {
  background: #d3d3d329;
  padding: 75px 0;

  h2 {
    font-size: 30px;
  }

  @media screen and (max-width: 992.5px) {
    padding: 50px 0;
  }

  .course-card-content {
    padding: 0px 30px 0px !important;
  }
}

.expert-card {
  margin-top: 30px;

  .course-card {
    min-height: 240px;
    height: unset;
    padding: 50px;
    border-radius: 10px;
    background: white;

    .course-card-image {
      max-width: 200px;
      min-height: 200px;
      border-radius: 10px;
      height: 200px;

      img {
        border-radius: 10px;
        width: 200px;
        max-width: 200px;
        height: 100%;
      }
    }

    .course-card-content {
      padding: 30px 30px 0px;

      .desc {
        -webkit-line-clamp: unset;
      }
    }
  }

  @media screen and (max-width: 880px) {
    .course-card {
      flex-direction: column;

      .course-card-image {
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;

        img {
          height: 100%;
        }
      }

      .course-card-content {
        padding: 30px 0px;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .course-card {
      padding: 20px;
    }
  }
}

.organization-featured-programs {
  padding: 50px 0 100px;
  background: #d3d3d329;

  .home-signature-courses {
    .course-card {
      margin-top: 30px;
    }

    &:hover {
      color: inherit !important;
    }
  }

  .medium-wrapper {
    //max-width: 1100px !important;
    @media screen and (max-width: 769.5px) {
      padding: 0px 50px !important;
    }
    @media screen and (max-width: 600.5px) {
      padding: 0 20px !important;
    }
  }
}

.organization-program-detail {
  padding: 0px 0 0px;
}

// Training Approach
.training-approach-container {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;

  .expert-live-workshop {
    flex: 0 0 45%;
    margin-right: 5%;

    .workshop-info-cotainer {
      top: unset;
      bottom: -20px;
      padding: 30px 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 75%;

      p {
        color: inherit;
        margin-bottom: 0;
        font-size: 20px;

        &:last-child {
          font-size: 16px;
        }
      }
    }
  }
}

.expert-live-workshop {
  margin-top: 40px;
  position: relative;

  img {
    width: 100%;
  }

  .workshop-info-cotainer {
    position: absolute;
    top: -20px;
    left: 50px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 16px 0px;
    background-color: _palette(bg);
    padding: 30px 64px;
    text-align: center;

    p {
      margin-bottom: 15px;
      font-size: 18px;
    }

    .ant-btn {
      letter-spacing: 1.2px;
      width: 250px;
      height: 50px;
      border: 1px solid;
      color: inherit;
    }
  }
}


.organization-program-tab {
  background: white;
  border-bottom: 1px solid #e0d9d9;

  .ant-tabs-bar {
    margin-bottom: 0px;
  }

  .ant-tabs-nav {
    justify-content: center !important;
  }

  .ant-tabs-nav-wrap {
    padding: 10px 10px 0px;
    background: transparent;

    .ant-tabs-tab {
      z-index: 11;
      padding: 0px;

      p {
        padding: 15px;
        font-size: 18px;
      }

      a:hover {
        color: inherit !important;
      }
    }

    .ant-tabs-nav > div {
      padding: 0px 5px;
    }

    .ant-tabs-tab-active {
      color: _palette(blue-color);
      border-bottom: 5px solid _palette(blue-color);

      a {
        p {
          color: _palette(blue-color) !important;
        }
      }
    }
  }

  .ant-tabs-ink-bar {
    display: none !important;
  }

  @media screen and (max-width: 1023.5px) {
    border-bottom: none;

  }
  @media screen and (max-width: 1150.5px) {
    .ant-tabs-nav {
      justify-content: center !important;
    }
  }
  @media screen and (max-width: 769.5px) {
    .ant-tabs-nav-scroll {
      text-align: center !important;
      padding: 0px 10px;
    }
  }
}

// Individual Course Section
.individual-program-container {
  padding: 120px;
  @media screen and (max-width: 1200.5px) {
    padding: 50px;
  }
  @media screen and (max-width: 992.5px) {
    padding: 20px;
  }

  .course-basics-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @media screen and (max-width: 770.5px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .payment-card {
        width: 100%;
        text-align: center;
      }
      button {
        margin-top: 10px;
      }
    }

  }

}

.individual-course-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 16px 0px;
  border-radius: 10px;

  h2 {
    font-size: 30px;
    margin-bottom: 0px;
    color: lighten(_palette(dark-blue), 10%);
  }

  .course-section {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    flex-wrap: wrap;

    .main-course-col {
      flex: 0 0 100%;

      img {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 16px 0px;
        border-radius: 10px;
      }


      p, li {
        margin-bottom: 10px;
        font-size: 16px;
      }


      ul {
        list-style: disc;
      }

      .desc {
        font-size: 16px;
      }

      .ce-credits {
        margin-top: 20px;
        color: black;
        font-size: 18px;
      }
    }

    .course-payment-col {
      flex: 0 0 30%;
      margin-left: 3%;

      .payment-card {
        position: sticky;
        top: 50px;
        text-align: center;
      }

      p {
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
      }

      h3 {
        font-size: 26px;
      }

      h3, h1 {
        color: _palette(dark-blue);
        text-align: center;
        margin-bottom: 10px;
      }

      .primary-btn {
        padding: 10px;
      }
    }

    @media screen and (max-width: 900.5px) {
      .main-course-col {
        width: 100%;
        flex: 0 0 100%;
      }
      .course-payment-col {
        width: 100%;
        flex: 0 0 100%;
        margin: 20px 0px 0;

        .payment-card {
          text-align: right;

          h1 {
            text-align: right;
          }
        }
      }
    }
  }

  .course-basics {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;

    p {
      margin-right: 30px;
    }

    p {
      font-size: 16px;
      color: _palette(dark-blue);
      display: flex;
      align-items: center;
      text-transform: capitalize;
      margin-bottom: 10px;

      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }

    @media screen and (max-width: 520px) {
      p {
        width: 100%;
        margin-right: 0px !important;
      }
    }
  }

  .program-description {
    p, div, li, span {
      font-family: _font(para-book-font) !important;
      font-size: 16px;
      margin-bottom: 24px;
    }

    li {
      margin-bottom: 10px;
    }

    strong, b {
      font-weight: normal !important;
      font-family: _font(para-font) !important;
    }

    h1, h2, h3, h4, h5 {
      font-family: _font(base-font) !important;

      span {
        font-family: _font(base-font) !important;
      }

      margin-bottom: 10px;
    }

    h2 {
      font-size: 30px;
    }
  }

  .program-sessions {
    .ant-collapse-header {
      p:first-child {
        min-width: 100px;
      }

      p:last-child {
        padding-right: 15px;
      }

      @media screen and (max-width: 550.5px) {
        p {
          font-size: 16px !important;

          &:first-child {
            margin-bottom: 10px;
          }
        }
        div {
          flex-wrap: wrap;
        }
      }
    }

    .coaching-program-collapse {
      .sessions-section {
        p, div, li, span {
          font-family: _font(para-book-font) !important;
          font-size: 16px;
          margin-bottom: 12px;
        }

        li {
          margin-bottom: 10px;
        }

        strong, b {
          font-weight: normal !important;
          font-family: _font(para-font) !important;
        }

        h1, h2, h3, h4, h5 {
          font-family: _font(base-font) !important;

          span {
            font-family: _font(base-font) !important;
          }

          margin-bottom: 10px;
        }

        h2 {
          font-size: 30px;
        }

      }
    }

    @media screen and (max-width: 900.5px) {
      margin: 0 auto;
    }
  }

  .program-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .program-img-container {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    margin: 40px auto 30px;

    .program-img-section {
      flex: 0 0 70%;
      padding-right: 30px;
    }

    .payment-card {
      flex: 0 0 30%;
      height: fit-content;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 16px 0px;
      padding: 20px;
      text-align: center;
      border-radius: 10px;

      h1, h3 {
        margin-bottom: 20px;
      }

      h3 {
        line-height: 26px;
      }

      .separator-content {
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid _palette(light-gray);

        img {
          width: 100%;
        }

        p {
          margin-bottom: 20px;
          margin-top: -10px;
          text-align: left;
        }
      }
    }

    @media screen and (max-width: 992.5px) {
      flex-direction: column-reverse;
      .program-img-section, .payment-card {
        flex: 0 0 100%;
      }
      .program-img-container {
        margin-top: 20px;

      }
      .program-img-section {
        padding-right: 0px;
      }
      .payment-card {
        margin-bottom: 0px;
      }
    }
  }

  @media screen and (max-width: 1100.5px) {
    .program-img {
      width: 100%;
    }
  }
}

// Course Modules
.course-modules {
  max-width: 100% !important;

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .program-sessions {
    margin: 0px;

    .program-sessions-text {
      text-align: left;
    }
  }

  .sessions-section {
    width: 100%;
    flex: 0 0 100%;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

// FAQs

.faq-section {
  margin: 40px 0 20px;
  background: _palette(bg);
  padding: 20px;

  .faq-search {
    border-radius: 50px;
    height: 50px;

    .ant-input {
      border: 1px solid #00000021;
      border-radius: 50px;
      padding: 0 10px;
    }

    .anticon-search {
      &:before {
        border: none;
      }
    }

    .antinput-suffix {
      margin-right: 12px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .faq-search-content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: space-between;

    .faq-content {
      flex: 0 0 48%;

      h2 {
        margin-bottom: 10px;
        font-size: 20px;
      }

      li {
        margin-bottom: 5px;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      @media only screen and (max-width: 770px) {
        flex: 0 0 100%;
      }
    }
  }

  @media screen and (max-width: 770px) {
    margin: 0px;
  }
}


.show-more-less-desc {
  //display: -webkit-box;
  //-webkit-line-clamp: 3;
  //-webkit-box-orient: vertical;
  //overflow: hidden;
  //min-height: unset;
  br {
    display: none !important;
  }

  span{
    font-family: "Avenir Roman", 'Avenir', Helvetica !important;
  }
  span > span > span {
    &:not(:first-child) {
      padding-left: 5px;
    }
  }

  a {
    color: _palette(primary-blue);

    &:hover {
      color: darken(_palette(primary-blue), 10%) !important;
    }
  }
}
