
.coaching-mobile-section{
  display: none;
}
.coaching-section {
  position: relative;

  .coaching-product-section {
    position: absolute;
    z-index: 1;
    top: 36px;
    left: 0px;
    width: 100%;
    img{
      width: 30px;
      margin-right: 10px;
    }
    .product-title {
      font-size: 24px;
      color: white;
      top: 50px;
      max-width: 1400px;
      margin: auto;
      display: flex;
      align-items: center;
      @media only screen and (max-width: 1400px) {
        margin-left: 20px;
      }
      }
  }
  .coaching-landing-page-tab{
    .ant-tabs-nav{
      max-width: 1400px;
      margin: auto;
      display: flex;
      justify-content: center;
      @media only screen and (max-width: 1150px) {
        justify-content: flex-end;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .coaching-section {
    display: none;
  }
  .coaching-mobile-section{
    display: block;
  }
}


.coaching-landing-page-tab {
  .ant-tabs-bar {
    border-bottom: none;
    margin-bottom: 0px;
  }

  .ant-tabs-nav-wrap {
    background: _palette(dark-blue);

    .ant-tabs-nav > div {
      display: flex;
      padding: 24px 5px;
    }

    .ant-tabs-tab {
      font-size: 16px;
      z-index: 1111111;
      //border-radius: 5px;
      //box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
      //background: white;
      //min-height: 100px;
      //min-width: 200px;
      .tab-title {
        font-family: _font(base-medium-font);
        color: _palette(blog-user);
        display: flex;
        align-items: center;

        img {
          width: 20px;
          margin-right: 10px;
        }

        .tab-div-title {
          max-width: 200px;
          color: _palette(bg);
        }
      }

      .unselected-tab {
        opacity: 0.6;
      }
    }

    .ant-tabs-tab-active {
      //border: 2px solid _palette(primary-blue);
      border-bottom: 3px solid _palette(bg);

      .tab-title {
        .tab-div-title {
          color: _palette(bg);
        }
      }
    }

    .ant-tabs-ink-bar {
      display: none !important;
    }
  }
}


// Overview Section

.coaching-overview-container {
  .coaching-overview {
    transition: filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
    position: relative;
    width: 100%;
    background: #754af61f;

    .card-row {
      padding: 0 0px 0px !important;

      .content {
        h3 {
          margin-bottom: 20px;
          font-size: 50px;
          line-height: 60px;
          color: _palette(blue-color);
        }

        p {
          margin-bottom: 50px;
          color: _palette(dark-blue);
        }
      }

      .img-section {
        padding-top: 150px;
      }

    }


    .bg-img {
      &:before {
        background: url("/img/Coaching-bg.png") bottom center no-repeat;
        transform: translateX(20%);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      img {
        max-width: 420px;
        margin-bottom: -50px;
        border-radius: 10px;
      }
    }

    @media (max-width: 769px) {
      .card-row {
        flex-direction: column-reverse;
        padding-bottom: 20px !important;
        .img-section{
          padding-top: 40px;
        }
      }
      .bg-img{
        img{
          margin-bottom: 50px;
        }
      }
    }

  }

  .coaching-overview-access-section {
    margin-top: 100px;
    background: rgba(66, 115, 240, 0.14);
    padding: 100px 100px 50px;
    border-radius: 10px;
    //box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
    h2 {
      font-size: 36px;
      line-height: 45px;
    }

    .divider {
      border-top: 1px solid #6b6b6b3d;
      border-bottom: none !important;
      padding: 0px !important;
      margin: 30px 0;
    }

    .section-img {
      margin-top: 50px;
      width: 100%;
      border-radius: 10px;
    }

    .sequence-sections {
      display: flex;
      flex: 0 0 100%;
      flex-wrap: wrap;

      .section {
        flex: 0 0 25%;
        padding: 15px;

        h3 {
          font-size: 40px;
        }

        .title {
          font-size: 24px;
          margin-bottom: 20px;
          color: #333333;
        }

        .desc {
          font-size: 16px;
        }
      }
    }
    @media (max-width: 1200px) {
      padding: 50px;
      .sequence-sections{
       .section{
         flex: 0 0 50%;
       }
     }
    }
    @media (max-width: 800px) {
      margin-top: 50px;
      padding: 30px;
      h2{
        font-size: 36px;
        line-height: 45px;
      }
    }

    @media (max-width: 700px) {
      .sequence-sections{
        flex-wrap: nowrap;
        overflow-x: auto;
       .section{
         flex: 0 0 90%;
       }
     }
    }
    @media (max-width: 500px) {
      padding: 20px;
      h2{
        font-size: 36px;
        line-height: 45px;
      }
    }

  }

  .coaching-overview-choose-section {
    margin-top: 100px;

    h2 {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 40px;
    }

    .sequence-sections {
      display: flex;
      flex: 0 0 100%;
      flex-wrap: wrap;

      .section {
        flex: 0 0 25%;
        padding: 20px 30px;

        img {
          width: 100%;
          margin-bottom: 20px;
          border-radius: 5px;
        }

        h3 {
          font-size: 40px;
        }

        .title {
          font-size: 24px;
          margin-bottom: 20px;
          color: #333333;
        }

        .desc {
          font-size: 16px;
        }
      }
    }
    @media (max-width: 1200px) {
      .sequence-sections{
        .section{
          flex: 0 0 50%;
        }
      }
    }
    @media (max-width: 700px) {
      h2{
        font-size: 36px;
        line-height: 45px;
      }
      .sequence-sections{
        flex-wrap: nowrap;
        overflow-x: auto;
        .section{
          flex: 0 0 90%;
          &:first-child{
            padding-left: 0px;
          }
        }
      }
    }
  }

  .coaching-overview-new-skills-section {
    margin-top: 100px;
    background: rgba(117, 74, 246, 0.70);
    padding: 50px 100px;
    border-radius: 10px 10px 0 0;

    .content {
      h3, p {
        margin-bottom: 30px;
        color: white
      }
    }
    @media (max-width: 769px) {
      padding: 0px !important;
      margin-top: 50px;
      .card-row{
        .card-row{
          padding: 40px 0px !important;
          flex-direction: column-reverse;
        }
      }
    }
  }

  .coaching-overview-track-progress-section {
    background: rgba(117, 74, 246, 0.50);
    padding: 50px 100px;
    border-radius: 0 0 10px 10px;

    .content {
      h3, p, a {
        margin-bottom: 30px;
        color: white
      }

      a {
        font-size: 16px;

        .anticon {
          margin-left: 10px;
        }
      }
    }
    @media (max-width: 769px) {
      padding: 0px !important;
      .card-row{
        .card-row{
          padding: 40px 0px !important;
          flex-direction: column-reverse;
        }
      }
    }

  }

  .coaching-overview-bhp-container {
    margin-top: 100px;
    padding: 100px 0;
    background: rgba(241, 241, 241, 0.2);
    width: 100%;

    h2 {
      font-size: 40px;
      line-height: 45px;
      color: _palette(primary-blue);
    }

    .card-row {
      justify-content: center;
    }

    .padded-view {
      padding: 20px 80px;
      justify-content: space-between;

      .custom-image {
        border-radius: 10px;
      }

    }

    .bg-img {
      background: #754af630;
      border-radius: 10px;
    }

    @media (max-width: 769px) {
      margin-top: 50px;
      padding: 50px 0 0;
      h3{
        font-size: 30px !important;
        line-height: 40px !important;
      }
      .card-row{
        padding: 0px;
      }
      .padded-view {
        padding: 40px 10px 20px;
        border-bottom: 1px solid #6b6b6b3d;
        margin-bottom: 40px;
        img{
          margin-bottom: 40px;
        }
      }
      .bg-img {
        .padded-view {
          padding: 40px 40px 20px;
          border-bottom: none;
          margin-bottom: 0px;
        }
        img{
          margin-top: 40px;
          margin-bottom: 0px;
        }
      }
      .divider{
        padding: 20px 40px;
      }
    }


  }

  .coaching-overview-bhp-flex-section {
    margin-top: 100px;

    .sequence-sections {
      display: flex;
      flex: 0 0 100%;
      flex-wrap: wrap;

      .section {
        flex: 0 0 33%;
        padding: 0 30px 20px 30px;

        &:not(:nth-child(1)) {
          border-right: 1px solid #6b6b6b3d;
          border-bottom: 1px solid #6b6b6b3d;
        }

        &:nth-child(1) {
          padding: 100px 40px;
          border-radius: 10px 10px 0 10px;
        }

        img {
          width: 100%;
          margin-bottom: 20px;
          border-radius: 10px;
        }

        .title {
          font-size: 24px;
          margin-bottom: 20px;
          color: #333333;
        }

        .text {
          color: _palette(primary-color);
          font-size: 16px;
        }

        .desc {
          font-size: 16px;
        }
      }

      .bg-section {
        background: rgba(66, 115, 240, 0.14);
      }

      @media (max-width: 780px) {
        overflow-x: auto;
        flex-wrap: nowrap;
        .section {
          flex: 0 0 75%;
        }
      }
      @media (max-width: 425px) {
        .section {
          flex: 0 0 90%;
        }
      }
    }

    @media (max-width: 780px) {
     margin-top: 50px;
    }
  }

}


// Client's Programs
.coaching-programs-banner-section {
  background: #4273f01c;
  padding: 100px 0;
  border-top: 2px solid #ffffff2e;
  position: relative;
  .tab-view {
    line-height: 60px;
    color: _palette(blue-color);
  }
  &:before {
    background: url("/img/Coaching-bg.png") bottom center no-repeat;
    transform: translateX(20%);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.clients-navigation-wrapper {
  position: relative;
  padding: 70px 0px;
  .keen-slider {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
  }

  .keen-slider__slide {
    flex: 0 0 33%;
    padding: 15px 10px;

    &:hover {
      color: inherit !important;
    }
    @media only screen and (max-width: 1200px) {
      flex: 0 0 50%;
    }
    @media only screen and (max-width: 780px) {
      flex: 0 0 100%;
    }

  }
}


// Experts Data
.experts-navigation-wrapper {
  margin-top: 70px;

  .keen-slider {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;

    .expert-container {
      flex: 0 0 33%;
      padding: 15px;
      cursor: pointer;
      transition: transform 0.25s ease-in-out;

      .info {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 10px;
        height: 100%;

        .img {
          //text-align: center;
          display: flex;
          align-items: flex-start;
          margin-bottom: 8px;
          min-height: 140px;

          img {
            width: 120px;
            border-radius: 50%;
            margin-right: 24px;
          }
        }

        .name {
          color: _palette(primary-purple);
          margin-bottom: 10px;
          font-size: 18px;
        }

        .expertise {
          font-size: 15px;
          margin-bottom: 15px;
        }

        .description {
          font-size: 14px;
          margin-bottom: 10px;
          color: _palette(blog-user);
        }

      }

      &:hover {
        transform: scale(1.05);
        color: inherit !important;
      }
      @media only screen and (max-width: 1240px) {
        flex: 0 0 50%;
      }
      @media only screen and (max-width: 770px) {
       .img{
         flex-direction: column;
         img{
           margin-bottom: 15px;
         }
         .name{
           margin-bottom: 0px;
         }
       }
      }
      @media only screen and (max-width: 580px) {
        flex: 0 0 100%;
      }
    }
  }

}


// Coach Program CSS
.coaching-program-page {
  .video-section {
    margin-bottom: 40px;

    .card-row {
      justify-content: space-between;
    }

    .program-basics {
      margin-top: 10px;

      svg {
        margin-right: 15px;
      }

      p {
        margin-bottom: 15px;
        font-size: 16px;
        display: flex;
        align-items: flex-start;

        .anticon {
          font-size: 24px;
        }
      }
    }

    .program-price {
      color: _palette(dark-blue);
      font-size: 40px;
    }
  }

  .banner-section {
    background: #2a3c5f;
    padding: 100px 0;

    .tab-view {
      line-height: 60px;
      color: white;
    }

    .desc-view {
      color: white;
      text-align: center;
      font-size: 18px;
    }

    .img-overlay {
      background-position: -90px 188px !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      opacity: 0.06;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
  }

  .how-it-works {
    background: white;
    padding-top: 100px;
    padding-bottom: 50px;

    .tab-view, .desc-view {
      color: _palette(dark-blue);
    }

    .desc-view {
      font-size: 20px;
    }

    .how-it-works-section {
      margin-top: 50px;

      .sequence-sections {
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;

        .section {
          flex: 0 0 25%;
          padding: 20px 10px;

          .card {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
            height: 100%;
            border-radius: 0 0 10px 10px;
          }

          img {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 10px 10px 0px 0px;
          }

          h3 {
            font-size: 40px;
          }

          .title {
            font-size: 20px;
            color: _palette(dark-blue);
            padding: 0 20px;
            margin-bottom: 10px;
            text-align: center;
          }

          .desc {
            font-size: 16px;
            padding: 0 20px 20px;
          }
        }
      }
    }
  }

  .program-bottom-section {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 50px;
    margin: 100px 0px;

    .card-col {
      margin-top: 50px;
    }

    .transform-section-img {
      height: auto;
    }

    .subtitle {
      margin-bottom: 20px;

      h4 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: black;
        margin-bottom: 15px;
      }
    }

    .instructor-profile {
      display: flex;
      margin-bottom: 50px;

      .instructor-image {
        width: 150px;
        height: 150px;
        margin-right: 20px;
        border-radius: 50% 0 50% 50%;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
      }


      h3 {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 20px;
        margin-left: 15px;
        color: _palette(primary-blue);
      }

      p {
        font-size: 16px;
        margin: 15px 0 15px 15px;
        line-height: 26px;
      }

      @media screen and (max-width: 700px) {
        display: block;
        .instructor-image {
          margin-bottom: 10px;
          border-radius: 50% 50% 50% 0%;
        }
        h3, p {
          margin-left: 0;
        }
      }
    }

    .instructor-interest-education {
      display: flex;
      align-items: center;
      @media screen and (max-width: 769px) {
        display: block;
        .flex-box {
          padding: 0px !important;
        }
      }
    }

    .flex-box {
      width: 50%;

      &:first-child {
        padding-right: 20px;
      }

      @media screen and (max-width: 769px) {
        width: 100%;
      }
    }

    .box {
      border-radius: 15px;
      border: solid 2px #d6d6d6;
      background-color: rgba(231, 231, 231, 0.1);
      padding: 20px;
      margin-bottom: 1rem;

      h4 {
        color: _palette(primary-blue);
      }

      ul {
        list-style: none; /* Remove default bullets */
        margin-top: 15px;

        li {
          margin-top: 10px;
          color: #767676;
          font-family: 'Avenir', Helvetica;
          font-size: 16px;
        }
      }

      ul li::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: _palette(primary-blue); /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
        padding-right: 2rem;
      }

      .flex-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        li {
          width: 50%;
          padding-right: 10px;
          display: flex;
        }

        @media screen and (max-width: 700px) {
          display: block;
          width: 100%;
          li {
            width: 100%;
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      padding: 20px;
      width: calc(100% + 24px) !important;
      margin-left: -8px;
      margin-right: -8px;
    }
  }

}


// Programs For Professionals


// Training Approach
.training-approach-container {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;

  .expert-live-workshop {
    flex: 0 0 45%;
    margin-right: 5%;

    .workshop-info-cotainer {
      top: unset;
      bottom: -20px;
      padding: 30px 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 75%;

      p {
        color: inherit;
        margin-bottom: 0;
        font-size: 20px;

        &:last-child {
          font-size: 16px;
        }
      }
    }
  }
}

.expert-live-workshop {
  margin-top: 40px;
  position: relative;

  img {
    width: 100%;
  }

  .workshop-info-cotainer {
    position: absolute;
    top: -20px;
    left: 50px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 16px 0px;
    background-color: _palette(bg);
    padding: 30px 64px;
    text-align: center;

    p {
      margin-bottom: 15px;
      font-size: 18px;
    }

    .ant-btn {
      letter-spacing: 1.2px;
      width: 250px;
      height: 50px;
      border: 1px solid;
      color: inherit;
    }
  }
}


.professional-program-tab {
  background: white;
  margin-top: 20px;

  .ant-tabs-nav-wrap {
    padding: 10px;

    .ant-tabs-tab {
      p {
        font-size: 18px;
      }
    }
  }

  .ant-tabs-ink-bar {
    display: none !important;
  }
}

// Individual Course Section
.individual-course-container {
  background: _palette(bg);
  padding-top: 50px;

  h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: _palette(dark-blue);
  }

  .course-section {
    display: flex;
    flex: 0 0 100%;

    .main-course-col {
      flex: 0 0 66%;

      img {
        width: 100%;
      }

      p, li {
        margin-bottom: 10px;
        font-size: 14px;
      }

      .course-basics {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        p:not(:first-child) {
          margin-left: 20px;
        }
      }

      ul {
        list-style: disc;
      }

      .desc {
        font-size: 16px;
      }

      .ce-credits {
        margin-top: 20px;
        color: black;
        font-size: 18px;
      }
    }

    .course-payment-col {
      flex: 0 0 30%;
      margin-left: 3%;

      .payment-card {
        position: sticky;
        top: 50px;
        margin-bottom: 20px;
        min-height: 100px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 16px 0px;
        padding: 15px;
        text-align: center;
      }

      p {
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
      }

      h3 {
        font-size: 26px;
      }

      h3, h1 {
        color: _palette(dark-blue);
        text-align: center;
        margin-bottom: 10px;
      }

      .primary-btn {
        padding: 10px;
      }
    }
  }
}

// Course Modules
.course-modules {
  margin: auto;

  .program-sessions {
    margin: 0px;

    .program-sessions-text {
      text-align: left;
    }
  }
}

// FAQs

.faq-section {
  margin: 40px 0 20px;
  background: _palette(bg);
  padding: 20px;

  .faq-search {
    border-radius: 50px;
    padding-left: 20px;

    .anticon-search {
      &:before {
        border: none;
      }
    }

    .antinput-suffix {
      margin-right: 12px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .faq-search-content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: space-between;

    .faq-content {
      flex: 0 0 48%;

      h2 {
        margin-bottom: 10px;
        padding-left: 1.5rem;
        font-size: 20px;
      }

      li {
        margin-bottom: 5px;
        font-size: 16px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
