.margin-80{
  margin-top: 0 !important;
  @media (max-width: 768px) {
    margin-top: 80px !important;
  }
  }

// Minimum footer height
/***************/
#min-footer{
  @media (max-width: 380px) {
    height: 550px !important;
  }
  @media (max-width: 426px) and (min-width: 381px) {
    height: 470px !important;
  }
  @media (min-width: 427px) {
    height: 370px !important;
  }
}
#footer{
  @media (max-width: 426px) {
    height: 700px !important;
  }
}
/******************/
#footer,#min-footer {
  position: relative;
  background-color: transparent;
  height: 650px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;


  .footer-widgets-wrap {
    position: relative;
    padding: 40px 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
    @media screen and (max-width: 770px) {
      padding: 0 !important;
    }
    }

  .inner {
    width: 100%;
  }

  img {
    position: absolute;
    top: 40px;
  }
  .footer-bg{
    z-index: -1;
  }
}

.coaching-footer{
  //margin-top: -10px !important;
  height: auto !important;
  background-color: _palette(bg) !important;
  img{
    position: relative;
  }
}
.device-xl,
.device-lg {
  &.sticky-footer {
    #top-bar {
      z-index: 299;
    }

    #header {
      z-index: 199;
    }

    #slider,
    #page-submenu,
    #page-title,
    #content,
    #slider,
    #page-submenu,
    #page-title,
    #content {
      z-index: 2;
    }

    #footer {
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    &:not(.stretched) #footer {
      left: 50%;
      margin-left: -610px;
      width: 1220px;
    }
  }
}

.device-lg.sticky-footer:not(.stretched) #footer {
  margin-left: -500px;
  width: 1000px;
}

.footer-widgets-wrap {
  .col_full,
  .col_half,
  .col_one_third,
  .col_two_third,
  .col_three_fourth,
  .col_one_fourth,
  .col_one_fifth,
  .col_two_fifth,
  .col_three_fifth,
  .col_four_fifth,
  .col_one_sixth,
  .col_five_sixth {
    margin-bottom: 0;
  }
}

#copyrights {
  padding: 5px 0;
  background-color: #DDD;
  position: relative;

  i {
    &.footer-icon {
      position: relative;
      top: 1px;
      width: 14px;
      text-align: center;
      margin-right: 3px;
    }
  }

  .col_half {
    margin-bottom: 0 !important;
    display: flex;
    justify-content: space-around;
    div{
      font-size: 12px;
    }
    a{
      font-size: 12px;
    }
  }

  a {
    &:first-child {
      margin-left: 0;
    }
  }

  .tright {
    a {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.copyright-links {
  a {
    display: inline-block;
    margin: 0 3px;
  }
}

.copyrights-menu {
  margin-bottom: 10px;

  a {
    margin: 0 10px;
    border-bottom: 0 !important;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 30px;
}

.footer-row {
  display: flex;

  .col-md-8 {
    width: 33.333%;
    text-align: right;
    .widget{
      margin-right: 20%;
    }
  }

  .col-md-6 {
    width: 22.6666%;
    text-align: left;

    .widget {
      > h4 {
        padding-left: 1em;
        color: _palette(secondary-color);
        font-weight: bold;
      }

      ul {
        list-style: none;
        li{
          text-decoration: none;
          font-size: 14px;
          color: rgba(80,88,191,0.57);
          font-weight: bold;
          line-height: 2;
          a{
            border-bottom: none;
            &:hover{
              color: _palette(primary-color) !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768.5px) {
  #copyrights{
    border-top: 2px dashed _palette(primary-color);
    padding-top: 10px;
    .col_half{
      display: block;
      text-align: center;
    }
  }
  .footer-bg{
    display: none;
  }
  .footer-widgets-wrap {
    //background-color: #DDD;
    .footer-row {
      display: flex;
      flex: 1 1 100%;
      flex-wrap: wrap;
      align-items: baseline;

      .col-md-8 {
        display: none;
      }

      .col-md-6 {
        flex: 0 0 33%;
        &:nth-child(3){
          h4 {
            margin-left: -30px;
          }
        }
      &:nth-child(4){
        h4{
          margin-left: -20px;
        }
      }
      }
      .clearfix{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4{
          padding-left: 0px;
        }
        ul{
          padding-left: 0;
        }
      }
    }
  }
  .coaching-footer{
    .footer-widgets-wrap{
      background: inherit;
    }
  }
}
@media (max-width: 425px) {
  .footer-widgets-wrap {
    .footer-row {
      .col-md-6 {
        flex: 0 0 48%;
      }
    }
  }
}
