.header-nav {
  .menu-content{
    color: _palette(bg);
    cursor: pointer;
  }
  .logo-resize {
    width: 150px;
    height: 50px;
    cursor: pointer;
  }
}
.body {
  position: relative;
  overflow-x: hidden;
  .home-bg-img {
    transform: translateY(-50%) rotate(-2deg);
    max-width: 133%;
    position: absolute;
    left: 0%;
    z-index: 0;
  }
 .home-section-group{
   transform: translateY(4%);
 }
  .border-section-group{
    background: _palette(bg-color);
    transform: translateY(8%);
    margin: 0 -17.5em;
    .card-row{
      margin: 0 auto;
      max-width: 65em;
    }
  }
}
.card-row{
  display: flex;
  align-items: center;
  padding: 32px;

  .blog-container{
    width: 100%;
    margin-right: 10px;
    box-shadow: 0 6px 8px 0 rgba(164,164,164,0.21);
    position: relative;
    h5{
      padding: 10px;
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }
    .blog-user{
      padding: 10px;
      font-size: 16px;
      color: _palette(blog-user);
    }
  }
  .question-container{
    box-sizing: border-box;
    border-radius: 6px;
    background-color: _palette(bg);
    border: 1px solid #F2F2F2;
    box-shadow: 0 2px 22px 0 rgba(51,51,51,0.06);
  }
  //margin: 30px 0;
  .card-col{
    white-space: initial;
    cursor: pointer;
    h2{
      font-size: 50px;
      line-height: 1.2;
    }
  }
.provider-card-btn{
background: _palette(bg);
  box-shadow: 0 2px 34px 0 rgba(0,0,0,0.09);
}
}
.-row-flex-space-evenly{
  justify-content: space-evenly;
}
.-row-flex-center{
  justify-content: center;
}
.-row-flex-space-between{
  justify-content: space-between;
}
.-highlighted-text{
  color: _palette(primary-color);
  font-weight: 600;
}
.-highlighted-secondary-text{
  color: _palette(secondary-color);
  font-weight: 600;
}

.-justified-text{
  text-align: justify;
}
.bottom-space{
  margin: 0 0 0.3em 0;
}
.-margin-right{
  margin-right: 2rem;
}

/*
.custom-image{
  max-width: 100%;
}*/
.btn-class{
  position: absolute;
  width: 100%;
  margin-top: 20px;
}
.-font-bold{
  font-weight: bold;
}
.img-tag{
  background: _palette(secondary-color);
  color: _palette(bg);
  position: absolute;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 5px;
  top: -2px;
  left: 10px;
}

//DBTCoach
.semi-title{
  font-size: 14px;
}
.dbt-box-container{
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 10px 20px 60px 0 rgba(0,0,0,0.06);
  .dbt-box-border{
    border-top: 3px solid _palette(primary-color);
    box-shadow: 12px 47px 69px 0 rgba(0,0,0,0.05);
    border-radius: 14px;
  }
}