.terms-section-group {
  p,li,u{
    font-family: 'Avenir', Helvetica;
    span {
      font-family: 'Avenir', Helvetica;
    }
  }
  h1,h2,h3,h4,h5,h6{
    font-family: "Airbnb Cereal App Bold";
    font {
      font-family: "Airbnb Cereal App Bold";
    }
  }
}

.header-content {
  @media only screen and (max-width: 1023px) {
    display: none !important;
  }
}

.request-demo-btn{
  min-width: 140px;
  height: 50px;
  border-radius: 5px;
  //background-image: linear-gradient(60deg, _palette(primary-blue) 35%, #4273f0 99%);
  background-color: #4273f0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
  font-size: 14px;
  color: #fff;
  font-family: _font(base-font);
  letter-spacing: 0.6px;
  border: 0;
  text-transform: none;
}


.extra-header {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: _palette(bg);
  padding: 10px;
  background: _palette(primary-purple);
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    display: block;
  }

  p {
    margin-bottom: 10px;
  }

  i {
    color: _palette(bg);
    font-size: 18px;
    z-index: 1211111;
    position: absolute;
    right: 15px;
  }

  button {
    margin-left: 10px;
    background: lighten(_palette(dark-blue), 10%);
    color: _palette(bg);
    font-size: 12px;
    border-color: transparent;

    &:hover {
      background: _palette(dark-blue);
      color: _palette(bg);
      box-shadow: none;
    }
  }
}

.header-nav {
  position: relative;
  .header-logo-section {
    display: flex !important;
    align-items: center;
    padding: 0px;

    img {
      height: 40px;
    }

    p {
      font-size: 24px;
      margin-bottom: 0px;
      color: _palette(dark-blue);
      letter-spacing: 0.3px;
      margin-left: 5px;
    }
  }

  .header-nav-active {
    div {
      color: #3b97ff;
    }
  }

  .menu-content {
    //color: _palette(bg);
    font-family: 'Airbnb Cereal App Medium', Helvetica;
    color: #646464;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.8px;

    &:hover, &:active {
      //box-shadow: inset 0 0 0 2px _palette(highlight);
      color: #3b97ff;
    }
  }

  .logo-resize {
    width: 150px;
    height: 50px;
    cursor: pointer;
  }
}

.body {
  position: relative;
  overflow-x: hidden;

  .home-bg-img {
    transform: translateY(-50%) rotate(-2deg);
    max-width: 133%;
    position: absolute;
    left: 0%;
    z-index: 0;
  }

  .coaching-bg-img {
    transform: translateY(-15%);
    position: absolute;
    width: 100%;
    @media only screen and (max-width: 769px) {
      transform: translateY(0%);
      width: inherit;
    }
    @media only screen and (min-width: 1600px) {
      max-width: unset;
      width: -webkit-fill-available;
    }
  }

  .home-section-group {
    //transform: translateY(4%);
    .home-top-bg {
      height: 550px;
      .home-top-bg-inner-div{
        display: flex;
        max-width: 1400px;
        width: calc(100% - 6em);
        margin: auto;
        align-items: center;
        .bottom-space{
          color: #fff;
          line-height: 54px;
          //font-weight: bold;
          font-size: 40px;
        }
        .-highlighted-text{
          background-color: #fff;
          color: #4273f0;
          padding: 0 10px;
        }
        .custom-image{
          width: 450px;
          height: 515px;
          border-radius: 8px;
          position: absolute;
          top: -150px;
          right: 0px;
        }
        .para-text{
          font-size: 18px;
          color: #fff;
        }

        @media only screen and (max-width: 1000px) {
          .ant-col{
            width: 100%;
          }
          .custom-image{
            display: none;
          }
        }
        @media only screen and (max-width: 770px) {
          width: 100%;
          .ant-col{
            width: unset;
          }
        }
      }
      @media only screen and (max-width: 800px) {
        margin: 0px;
        .home-top-bg-inner-div {
          .custom-image {
            display: none;
          }
          .para-text{
            font-size: 20px;
            color: #fff;
          }
        }
      }
      @media only screen and (max-width: 500px) {
        height: 800px;
      }
    }
  }

  .all-testimonial-section {
    margin: 50px 0 0px;
    @media only screen and (max-width: 769px) {
      width: inherit;
      margin-bottom: 20%;
    }
  }

  .coaching-home-section-group {
    transform: translateY(25%); /**/
    //height: 100vh;
    .card-row {
      height: inherit;
    }

    @media only screen and (max-width: 1024px) {
      transform: translateY(15%);

    }
    @media only screen and (max-width: 768px) {
      transform: translateY(15%);
      .card-row {
        height: inherit;
        padding: 36px 32px 0;
        flex-direction: column-reverse;

        .card-col:first-child {
          margin-top: 50px;
        }

        img {
          margin-bottom: 15px;
        }

        .form-group {
          padding: 0;
        }
      }
    }

    .card-col {
      img {
        width: 100%;
      }

      .subtitle {
        font-size: 16px;
        //color: _palette(primary-grey);
        line-height: 28px;
        margin-bottom: 30px;
      }

    }

    input {
      height: 50px;
      border-radius: 5px;
      background: _palette(bg);
    }

    .join-buttons {
      margin: 15px 0 0px;
      display: flex;
      align-items: center;
      //width: max-content;
      box-shadow: rgba(0, 0, 0, 0.07) 0 8px 25px 0;
      border-radius: 15px;
      padding: 20px 0px;
      justify-content: center;

      button {
        margin-right: 10px;
      }

      span {
        margin: 0 10px;
        font-weight: 600;
        font-size: 14px;
      }

      @media only screen and (max-width: 430px) {
        width: fit-content;
        text-align: center;
        button {
          height: 40px;
          padding: 10px;
        }
      }
    }

    .image-col {
      position: absolute;
      //top: -30%;
      right: -5%;
      @media only screen and (max-width: 768px) {
        top: 0;
        left: 0;
        right: 0;
        position: relative;
      }
    }
  }

  .app-section-group {
    //transform: translateY(2%);
    @media screen and (max-width: 768.5px) {
      margin-bottom: 175px;
    }
  }

  .border-section-group {
    background: _palette(bg-color);
    //transform: translateY(6%);

    .card-row {
      margin: 0 auto;
      max-width: 1400px;
      margin-bottom: 30px;
      p{
        margin-bottom: 10px;
      }
      h3{
        font-size: 30px;
        line-height: 38px;
      }
      b{
        font-weight: bold;
        color:#7c7c7c;
      }
      ul{
        list-style: none;
        margin-top: 10px;
      }
      li{
        color:#7c7c7c;
        &:before{
          content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
          color: _palette(primary-blue); /* Change the color */
          font-weight: bold; /* If you want it to be bold */
          display: inline-block; /* Needed to add space between the bullet and the text */
          width: 5px; /* Also needed for space (tweak if needed) */
          padding-right: 20px;
          margin-left: -1em;
        }
      }
      @media screen and (max-width: 1100px) {
        max-width: 55em;
      }
      @media screen and (max-width: 900px) {
        max-width: 50em;
        padding: 36px 20px;
        align-items: unset;
      }
    }
    @media only screen and (max-width: 769.5px) {
      transform: translateY(0%);
    }
  }

}

.card-row {
  display: flex;
  align-items: center;
  padding: 36px 0px;

  .blog-container {
    width: 100%;
    margin-right: 10px;
    box-shadow: 0 6px 8px 0 rgba(164, 164, 164, 0.21);
    position: relative;

    h5 {
      padding: 10px;
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }

    .blog-user {
      padding: 10px 20px;
      font-size: 16px;
      color: _palette(blog-user);
    }
  }

  .question-container {
    box-sizing: border-box;
    border-radius: 6px;
    background-color: _palette(bg);
    border: 1px solid #F2F2F2;
    box-shadow: 0 2px 22px 0 rgba(51, 51, 51, 0.06);
    width: 50%;
  }

  //margin: 30px 0;
  .card-col {
    white-space: initial;
    cursor: pointer;

    h2 {
      font-size: 40px;
      line-height: 1.2;
    }
  }

  .provider-card-btn {
    background: _palette(bg);
    box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.09);
    border-radius: 5px;
  }
}

.-row-flex-space-evenly {
  justify-content: space-evenly;
}

.-row-flex-center {
  justify-content: center;
}

.-row-flex-space-between {
  justify-content: space-between;
}

.-highlighted-text {
  color: _palette(primary-color);
  //font-weight: 600;
}

.-highlighted-secondary-text {
  color: _palette(primary-blue);
  font-weight: 600;
}

.-highlighted-cbt-text {
  color: _palette(cbt-primary-color);
  font-weight: 600;
}

.-highlighted-cbt-secondary-text {
  color: _palette(cbt-secondary-color);
  font-weight: 600;
}

.-highlighted-act-text {
  color: _palette(act-primary-color);
  font-weight: 600;
}

.-highlighted-act-secondary-text {
  color: _palette(act-secondary-color);
  font-weight: 600;
}


.-justified-text {
  text-align: justify;
}

.bottom-space {
  margin: 0 0 0.3em 0;
  font-size: 40px;
  //font-weight: 600;
  line-height: 50px;
  color: #2b2b2b;
  .-highlighted-text{
    color: _palette(primary-blue);
  }
  .-highlighted-secondary-text{
    color: #5d61f4;
  }
  @media screen and (max-width: 800px) {
    font-size: 48px !important;
    line-height: 60px !important;
    text-align: left !important;
  }
  @media screen and (max-width: 600px) {
    font-size: 40px !important;
    line-height: 50px !important;
  }
}
.program-grounded{
  @media screen and (max-width: 992px) {
    font-size: 40px !important;
    line-height: 45px !important;
  }
  @media screen and (max-width: 600px) {
    font-size: 30px !important;
    line-height: 40px !important;
  }
}

.-margin-right {
  margin-right: 2rem;
}

.-margin-bottom {
  margin-bottom: 1rem !important;
}

.custom-image {
  width: 100%;
}

.btn-class {
  position: absolute;
  width: 100%;
  margin-top: 20px;
}

.-font-bold {
  font-weight: normal;
}

.text--uppercase {
  text-transform: uppercase;
}

.img-tag {
  background: _palette(secondary-color);
  color: _palette(bg);
  position: absolute;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 5px;
  top: -2px;
  left: 10px;
}

//DBTCoach
.semi-title {
  font-size: 14px;
}

.dbt-box-container {
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 10px 20px 60px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 75px;

  .dbt-box-border {
    border-top: 3px solid _palette(primary-color);
    box-shadow: 12px 47px 69px 0 rgba(0, 0, 0, 0.05);
    border-radius: 14px;
  }
}

.react-multiple-carousel__arrow {
  padding: 0 20px;

  &:hover {
    box-shadow: inset 0 0 0 2px #000000;
  }
}

.testimonials-blogs {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: _palette(bg);
  border: 1px solid #F2F2F2;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin: 25px 0px;
  min-height: 400px;

  .testimonial-user-name {
    color: _palette(primary-blue);
  }

  .blog-user {
    display: flex;
    align-items: center;
  }

  .testimonial-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
  }

  h6 {
    color: #7E8085;
    //font-family: "Noto Serif";
    //font-style: italic;
    line-height: 30px;
    font-size: 16px;
  }
}

.react-multi-carousel-item {
  opacity: 0.4;
}

.react-multi-carousel-item--active {
  opacity: 1;
  transform: scale(1.1);
  z-index: 5;
  transition: all .5s linear;
}

.react-multi-carousel-track {
  padding: 25px;
}

.custom-carousel-icon {
  font-size: 38px;
  position: absolute;
  color: _palette(primary-color);
  cursor: pointer;

  &:hover {
    color: _palette(secondary-color);
  }

  &:focus {
    outline: none;
  }
}

.-right-icon {
  right: 0;
}


@media (max-width: 780px) {
  #wrapper {
    width: 100%;
    padding: 50px;
  }
}
@media (max-width: 500px) {
  #wrapper {
    width: 100%;
    padding: 20px;
  }
}

.after-border-section {
  margin-top: 100px;
  background: #d3d3d31c;
  padding: 50px;
  border-radius: 10px;
  .life-coach-grid-section{
    background: white;
    border-radius: 10px;
  }
}

@media (max-width: 768.5px) {
  #wrapper {
    #header {
      padding: 0 15px;
    }

    .after-border-section {
      margin-top: 40px;
    }

    .terms-section-group {
      margin: 0 20px;
    }
  }

  .card-row {
    flex-direction: column;
    //text-align: justify;
    padding: 20px 40px 0;

    .ant-col {
      width: unset;
      margin: auto;

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .border-section-group {
    margin: auto !important;

    .card-row {
      margin: 0 auto;
      text-align: justify;
      max-width: 100%;
      .ant-col{
        width: 100%;
      }
      .-btn-primary {
        margin-top: 15px;
      }
    }
  }
  .testimonials-blogs {
    h6 {
      font-size: 14px;
    }
  }

  .divider {
    border-bottom: solid 0.5px _palette(light-gray);
    padding: 30px 40px;
    //margin: 0 20px;
  }
  .blog-container {
    margin-right: 15px !important;
    min-width: 250px;
  }
  .blog-container-card-row {
    width: 100%;

    .ant-col {
      width: 100%;
    }

    .blog-container-row {
      padding: 10px;
      overflow-x: auto;
      width: 100%;
    }
  }
  .all-testimonials {
    padding: 20px !important;
  }
  /*  .dbt-box-border {
      margin-bottom: 75px;
    }*/
  .-padding-zero {
    padding: 0;
  }
}

.-asked-question-card {
  padding: 0 20px;

  .question-container {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .card-row{
    padding: 20px 20px 0px;
  }
  .border-section-group {
    .card-row {
      padding: 20px 10px 0 !important;

    }
  }
}
@media (max-width: 435.5px) {
  .slick-slide {
    margin-right: 2px !important;
  }
  .testimonials-blogs {
    margin: 25px 5px !important;
  }
  .body {
    .home-bg-img {
      transform: translateY(-45%) rotate(-2deg);
    }

    .coaching-bg-img {
      transform: translateY(0%);
    }
  }
/*  .-highlighted-secondary-text {
    font-size: 25px;
  }*/
  .iframe-video {
    height: 100% !important;
  }
}

.video-modal-class {
  width: 100% !important;
}

.with_underline {
  & > .ant-tabs-bar:first-child {
    border-bottom: 1px solid _palette(secondary-color) !important;
  }
}
.bt_portal-tabs{
  .tab-title{
    font-size: 14px;
    font-weight: bold;
    color: black;
  }
  .black-18-font{
    color: #2b2b2b;
    font-weight: 900;
  }
  @media screen and (max-width: 769.5px) {
    .ant-tabs-tabpane{
      .divider{
        .ant-col-md-12:last-child {
          margin-top: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .ant-tabs-nav-scroll , .tab-view{
    padding: 20px 40px 0;
  }
}  @media screen and (max-width: 600px) {
  .ant-tabs-nav-scroll , .tab-view{
    padding: 20px 20px 0;
  }
}
.bt_portal-tabs.-sub_tab:not(.main-tabs) {
  .ant-tabs-nav-wrap {
    margin: 0 !important;
  }

  .ant-tabs-nav {
    .ant-tabs-tab {
      line-height: 1;
      min-width: 120px;
      padding: 5px 2px !important;
      border: 2px solid _palette(primary-color) !important;
      border-right: 0 !important;
      font-weight: 600;
      font-size: 12px;
      color: _palette(secondary-color) !important;
      margin: 0 !important;

      & > div {
        font-size: 13px;
        text-transform: uppercase;

        & > .svg-icons, & > .anticon {
          font-size: 14px;
        }
      }

      &:hover {
        border: 2px solid _palette(primary-color) !important;
        border-right: 0 !important;
        color: _palette(bg) !important;
        background: _palette(primary-color) !important;
      }
    }

    .ant-tabs-tab:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    .ant-tabs-tab:last-child {
      border-right: 2px solid _palette(primary-color) !important;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;

      &:hover {
        border-right: 2px solid _palette(primary-color) !important;
      }
    }

    .ant-tabs-tab-active {
      background: _palette(primary-color) !important;
      color: _palette(secondary-color) !important;

      &::after {
        display: none;
      }
    }
  }
}

.-flex-align-item {
  display: flex;
  align-items: center;
}

.tab-image {
  width: 24px !important;
}

.with_underline > .ant-tabs-bar:first-child {
  border-bottom: none !important;
}

.ant-tabs-nav-scroll {
  text-align: center;

  .ant-tabs-tab {
    margin-right: 20px !important;
  }
  @media screen and (max-width: 769.5px) {
    text-align: left !important;
  }
}

.slick-slide {
  margin-right: 10px;
}

.slick-arrow {
  display: none !important;
}

.slick-track {
  display: flex !important;
}

.slick-dots {
  bottom: unset !important;
  top: 95%;
}

.slick-dots li button {
  box-shadow: none !important;
}

.apps-title {
  font-size: 36px;
}

.mfp-hide {
  display: none;
}

.center {
  text-align: center !important;
}

.divcenter {
  position: relative !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.ant-modal-close {
  top: -8%;
  right: -3%;
  position: absolute;
  box-shadow: none !important;

  i {
    font-size: 24px;
  }
}

.ant-modal-body {
  padding: 0 !important;
}

.ant-modal-footer {
  display: none !important;
}


@media only screen and (min-width: 1700px) {
  .header-nav {
    .menu-content {
      font-size: 16px;
    }
  }
}


.header-menu-submenu{
  margin-top: 10px;
  background: white;
  padding: 20px 40px;
  border-radius: 10px;
  min-width: 250px;
  box-shadow: 0 1px 14px 0 #afabab;
  .menu-content-item{
    color: #22303f;
    font-size: 16px;
    p:first-child{
      margin-bottom: 0px;
    }
    p:not(:first-child){
      margin-bottom: 1.5rem;
      color: #4d6580;
      font-size: 14px;
    }
    .menu-content{
      //border-bottom: 1px solid _palette(bg);
      //padding-bottom: 10px;
      &:hover{
        p:first-child{
          text-decoration: underline;
        }
        color: #22303f !important;
      }
    }
    &:hover{
      color: #22303f !important;
      .menu-content{
        //border-bottom: 1px solid _palette(bg);
        //padding-bottom: 10px;
          color: #22303f !important;
      }
      a{
        color: #22303f !important;
      }
    }
    .menu-item{
      display: flex;
      align-items: end;
      img{
        width: 24px;
        height: 24px;
        margin-right: 15px;
      }
    }
  }
}


.sticky-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11111111;
  //box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 16px 0px;
}
#coaching-header{
  .header-nav{
    max-width: 1400px;
    margin: auto;
    @media only screen and (min-width: 500px) and (max-width: 1399.5px) {
      max-width: unset;
      margin: 0 20px;
    }
  }
}
