// Proxima Nova Font
.font-proxima-nova {
  font-family: 'proxima_nova_rgregular', Helvetica;
}

.card-paragraph-text {
  font-family: 'proxima_nova_rgregular', Helvetica;
  font-size: 16px;
}

.paragraph-text {
  font-family: 'proxima_nova_rgregular', Helvetica;
  font-size: 18px;
}

.purpleHighlight {
  font-weight: bold;
  color: purple;
}

.programs-text {
  font-family: 'proxima_nova_rgregular', Helvetica;
  font-size: 14px;
}

// Borders with primary colors
.coaching-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.07) 0 8px 25px 0;
}

.border-blue {
  border: 1px solid _palette(primary-blue);
}

.border-purple {
  border: 1px solid _palette(primary-purple);
}

.border-green {
  border: 1px solid _palette(primary-green);
}

.border-orange {
  border: 1px solid _palette(primary-orange);
}

.border-grey {
  border: 1px solid _palette(primary-grey);
}


.light-body-bg {
  background: #f9f9f9;
}

.menu-fold-icon {
  display: none !important;
}

.hide-content {
  color: black !important;
}

.coach-wrapper {
  .tac {
    h2 {
      font-weight: 600 !important;
      font-size: 24px;
      margin-bottom: 10px !important;
    }
  }
}

@media screen and (max-width: 1023px) {
  .coach-wrapper {
    #header {
      nav {
        align-items: end;
      }
    }
  }
  #header {
    .hide-content {
      display: none !important;
    }
  }
  .menu-fold-icon {
    display: block !important;
    z-index: 12;
    cursor: pointer;
    position: absolute !important;
    right: 15px;
    top: 50%;
    margin-top: -20px;

    .icon {
      font-size: 24px;
      padding: 5px 0 15px 0;
    }

    .not-white {
      color: _palette(fg-bold) !important;
    }
  }
  .menu-fold-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 1;
    background: rgba(31, 56, 97, 0.99);
    width: 100%;
    justify-content: center;
    text-align: center;

    a {
      border-bottom: 1px solid rgba(255, 255, 255, .125);
      color: #fff;
      padding: 20px;
      font-size: 19px;
      width: 230px;
      cursor: pointer;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .coach-wrapper {
    padding-top: 0 !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .menu-fold-content {
    margin-left: -3rem;
  }
}


// Features and Case Studies

.coach-heading {
  margin-bottom: 0px !important;
  @media screen and (max-width: 768px) {
    margin-bottom: 20px !important;
    h2 {
      width: 100%;
    }
  }
}

.app-icons-title {
  &:first-child {
    margin-top: 15px;
  }

  font-size: 16px;
  font-weight: 500;
  color: lighten(_palette(secondary-color), 10%);
}

.app-icons {
  margin-top: 15px;
  display: flex;

  a {
    font-weight: 600;
    margin-right: 25px;
    display: flex;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 5px;
    color: _palette(fg-bold);
    border: 1px solid #3333331a;

    &:hover {
      color: rgba(0, 0, 0, 0.35) !important;
      border-bottom-color: inherit;
    }

    img {
      margin: 0 10px 0 0 !important;
      width: 24px !important;
    }
  }

  @media screen and (max-width: 450px) {
    display: block;
    a {
      margin-top: 10px;
    }
  }
}

.feature-section-group {
  transform: translateY(2%);
  padding: 20px;

  .all-category-section {
    margin-bottom: 20px;

    .recent-story {
      display: flex;
      flex: 0 0 100%;
      flex-wrap: wrap;

      .story {
        flex: 0 0 50%;

        .story-content {
          margin-top: 0 !important;
        }

        &:not(:nth-child(2n)) {
          .story-content {
            padding-right: 15px;
          }
        }

        @media screen and (max-width: 430px) {
          display: flex !important;
        }
      }

      @media screen and (max-width: 700px) {
        display: block;
      }
    }

    @media screen and (max-width: 700px) {
      margin-top: 20px !important;
    }
    @media screen and (max-width: 800px) {
      padding-top: 30px;
    }
  }

  .recent-story-container {
    .recent-story {
      max-height: 600px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }

  .category-text {
    color: _palette(secondary-color);
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
  }

  .top-blog-section {
    @media screen and (max-width: 770px) {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

    .subtitle {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    h3 {
      margin-bottom: 0;
      font-weight: 600;
    }

    div {
      font-size: 14px;
    }
  }

  .recent-story-container {
    h2 {
      font-size: 22px;
      font-weight: 600;
    }

    .recent-story {
      img {
        width: 100%;
      }

      .story {
        display: flex;
        margin-bottom: 20px;
        vertical-align: baseline;

        img {
          width: 120px;
          height: 120px;
          min-width: 120px;
          min-height: 120px;
          border-radius: 4px;
          //margin-right: 10px;
        }

        .story-content {
          width: 100%;
          margin-left: 10px;
          margin-top: 0px;

          .category-text {
            font-size: 16px;
          }

          .blog-tags {
            margin-top: 0;
            margin-bottom: 10px;

            p {
              font-size: 10px;
            }
          }

          span {
            line-height: 1.2;
            font-size: 14px;
            margin-bottom: 5px;
            padding-left: 5px;
          }

          h3 {
            margin-bottom: 0;
            margin-top: 5px;
            font-size: 18px;
            line-height: 1.3;
            margin-left: 5px;
          }

          p {
            font-size: 12px;
            margin-bottom: 0;
            margin-left: 5px;
          }

          p:first-child {
            margin-bottom: 0;
          }

          p:last-child {
            color: _palette(dark-gray);
          }
        }
      }
    }

    //@media screen and (max-width: 430px) {
    //  .story {
    //    display: block !important;
    //  }
    //}
  }

  .col-reverse {
    background: #E9F3FF;
    border-radius: 6px;

    .section-img {
      width: 100%;
      margin-bottom: 15px;
      height: 400px;
      max-height: 400px;
    }

    .featured-blog-content {
      min-height: 400px;

      p {
        font-size: 14px;
      }

      div {
        span {
          font-size: 16px;
          font-family: 'medium-content-serif-font', Helvetica;

          p {
            margin-bottom: 0;
          }

          br {
            content: '';
          }

          a {
            color: _palette(primary-purple);
          }
        }
      }

      h3 {
        font-size: 24px;
      }

      h2 {
        margin-bottom: 10px;
      }
    }

    @media screen and (max-width: 800px) {
      transform: translateY(2%) !important;
    }

    @media screen and (max-width: 769px) {
      .recent-story {
        a {
          &:not(:last-child) {
            .story {
              padding-bottom: 10px;
              border-bottom: 1px solid _palette(primary-purple);
            }
          }
        }
      }
    }

    @media screen and (max-width: 769px) {
      background: transparent;
      padding: 0 !important;
      .section-img {
        height: 100%;
        margin-bottom: 0;
        margin-top: 10px;
        max-height: 400px;
      }
      .landing-top-section {
        background: #E9F3FF;
        padding: 10px 15px !important;
      }
      .recent-story-container {
        width: 100%;

        .recent-story {
          max-height: unset;
        }
      }
    }
  }

  .featured-section {
    background: #F3FFFB;
    padding: 15px 20px !important;
    @media screen and (max-width: 800px) {
      transform: translateY(3%) !important;
      padding: 15px 10px !important;
    }
  }

  .cell {
    text-align: center;

    h2 {
      //color: _palette(bg);
      font-weight: 500;
      margin-bottom: 0px;
    }

  }

  .well {
    margin-bottom: 50px;
  }

  .grid {
    display: grid;
    grid-gap: 20px;
    @media screen and (min-width: 1025px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1200px) {
      grid-gap: 40px;
    }
    @media screen and (min-width: 1025px) {
      grid-gap: 30px;
    }
  }

  .two-grid {
    grid-gap: 0 24px;
    @media screen and (min-width: 1025px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .card--feature-shadow {
    background: _palette(bg);
    margin-top: 24px;
    border-radius: 5px;

    .card-content {
      h3 {
        margin: 10px 0;

        a {
          font-size: 20px;
          font-weight: 600;

          &:hover {
            color: inherit !important;
          }
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .card--feature {
    font-size: 15px;
    padding: 20px 30px;

    b {
      font-weight: 600;
    }

    img {
      display: block;
      height: auto;
      margin: 0 auto 20px;
      width: 100%;
    }
  }

  .card {
    background: _palette(bg);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, .07) 0 8px 25px 0;
    margin: 0 auto;
    max-width: 550px;
    padding: 20px 25px;
    width: 100%;

    @media screen and (min-width: 1025px) {
      //max-width: none;
      padding: 30px 50px;
    }
  }

  .remove-width {
    max-width: none;
    margin: 0;

    .card-content {
      display: flex;
      flex-direction: row-reverse;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
    }
  }

  .updivider {
    border-top: solid 1px _palette(light-gray);
    padding-top: 20px;
  }

  .study {
    margin-bottom: 20px;

    &:nth-child(1) {
      -webkit-box-ordinal-group: 3;
      order: 2;
      grid-column: 5/span 2;
      grid-row: 1/span 2;
      z-index: 1;
    }

    &:nth-child(2) {
      -webkit-box-ordinal-group: 2;
      order: 1;
      grid-column: 1/span 4;
      grid-row: 1/span 3;
      z-index: 2;
      max-width: 100%;
    }

    &:nth-child(3) {
      -webkit-box-ordinal-group: 4;
      order: 3;
      grid-column: 1/span 3;
      grid-row: 4/span 2;
      z-index: 0;
      height: fit-content;
    }

    &:nth-child(4) {
      -webkit-box-ordinal-group: 5;
      order: 4;
      grid-column: 4/span 3;
      grid-row: 3/span 3;
      z-index: 3;
    }
  }

  .card--callout {
    background: linear-gradient(to bottom right, #FF003C, #FF9046);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;

    blockquote {
      color: _palette(bg);
      padding: 0px;
      border-left: none;
      text-align: left;
    }

    p {
      margin-bottom: 0px;
      text-align: left;
    }
  }

  .card--vertical {
    overflow: hidden;
    padding: 0;

    .card-image {
      height: 280px;
    }
  }

  .card--horizontal {
    //margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;

    .card-image {
      height: 335px;
    }
  }

  .card-content {
    text-align: left;
    padding: 20px;

    .mb1, .mb2 {
      margin-bottom: 10px;
    }

    blockquote {
      padding: 0;
    }

    button {
      height: unset;
      padding: 10px;
    }
  }

  .mb2 {
    font-size: 15px;

    strong {
      font-weight: 600;
    }
  }

  .card-image {
    background: #2f3746;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;

    .card-title {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
      color: #fff;
      padding: 20px 40px;
    }
  }

  blockquote {
    border-left: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .card--feature {
    img {
      margin: 15px auto 30px;
    }
  }
  .has-studies {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 900px;
  }
  .study {
    margin-bottom: 0px !important;
    max-width: none;
  }
  blockquote {
    font-size: 24px;
    margin-bottom: 16px !important;
  }
  .card--horizontal {
    -webkit-box-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
}

// Live coach blogs
.entry {
  margin-bottom: 1rem;

  .entry-title {
    margin: 25px 0 10px;

    a {
      color: #41464d;
      border: 0;
    }
  }

  header {
    display: block;
  }

  .entry-content {
    .post-image {
      margin-bottom: 40px;
      height: auto;
      max-width: 100%;
      border: 0;
    }
  }

  p {
    margin: 0 0 1.625em;
    padding: 0;
  }
}

.entry-meta {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sidebar-primary {
  .screen-reader-text {
    background-color: #fff;
    border: 0;
    clip: rect(0, 0, 0, 0);
    color: #232525;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
  }

  .widget {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 40px;
    word-wrap: break-word;
    padding-bottom: 40px;

    &:last-child {
      border-bottom: 0;
    }

    h4 {
      margin: 0 0 1.612rem;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
    }

    img {
      height: auto;
      max-width: 100%;
      border: 0;
    }

    .button {
      background-color: #251c4d;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: #251c4d;
      }
    }
  }
}

.content-sidebar-wrap {
  article {
    img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .content-sidebar-wrap {
    .content {
      float: left;
      width: 70%;
    }
  }
  .sidebar-primary {
    float: right;
    width: 25%;

    .widget {
      position: fixed;
      top: 10%;
      //width: 284px;
    }
  }
}

/******* Pricing ************/
//Ribbons

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: 2;
  content: '';
  display: block;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 240px;
  padding: 4px 0;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}

.ribbon-purple {
  &::before, &::after {
    border: 5px solid _palette(primary-purple);
  }

  span {
    background-color: _palette(primary-purple);
  }
}

.ribbon-orange {
  &::before, &::after {
    border: 5px solid _palette(primary-orange);
  }

  span {
    background-color: _palette(primary-orange);
  }
}

.ribbon-blue {
  &::before, &::after {
    border: 5px solid _palette(primary-blue);
  }

  span {
    background-color: _palette(primary-blue);
  }
}

.ribbon-green {
  &::before, &::after {
    border: 5px solid _palette(primary-green);
  }

  span {
    background-color: _palette(primary-green);
  }
}

.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 24px;
}

.ribbon-top-right::after {
  bottom: 24px;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

.pricing-relative {
  position: relative;
  overflow: visible !important;
}


.common-pricing-text {
  color: #a7a7a7;
  margin-top: 15px;
  font-family: Helvetica, sans-serif;
}

.mt4 {
  //margin-top: 40px !important;

  .card-text {
    //background: #62bd7a;
    -webkit-box-align: center;
    display: -webkit-box;
    display: flex;
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    height: 250px;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: baseline;
    padding: 0 24px;

    p {
      color: _palette(fg-bold);
      font-size: 16px;
      margin-top: 6px;
    }

    h6 {
      color: _palette(primary-blue);
      margin-bottom: 0;
      text-align: left;
    }

    h4 {
      color: _palette(fg-bold);
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 0;
    }
  }

  .well--s {
    margin: 30px 0;
  }

  .tc-gray {
    color: #2f3746 !important
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      text-align: center;
    }
  }

  .card {
    height: fit-content;
  }

  .card-content {
    text-align: center;
  }

}

.grid--4col {
  @media screen and (min-width: 426px) {
    grid-template-columns: 1fr 1fr !important;
  }
  @media screen and (min-width: 1025px) {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
}

@media only screen and (min-width: 1024px) {
  .mt4 {
    .card-text {
      //height: 200px;
      p {
        margin-bottom: 0;
      }

      h4 {
        font-size: 46px;
        margin-bottom: 0;
      }
    }
  }
  .button {
    font-size: 15px;
    height: 50px;
    padding: 0 25px;
  }
}

.button {
  -webkit-appearance: none;
  -webkit-box-align: center;
  align-items: center;
  background: 0 0;
  border: none;
  border-radius: 7px;
  display: -webkit-inline-box;
  display: inline-flex !important;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  -webkit-box-pack: center;
  justify-content: center !important;
  padding: 0 15px;
}

.pricing-questions {
  margin-top: 24px;

  .pricing-questions-container {
    margin-top: 24px;

    .card--feature {
      padding: 0 30px !important;
      margin-bottom: 20px;

      p {
        margin: 0;
      }

      h3 {
        margin-bottom: 10px;
      }
    }
  }
}

// About Page
.well--l {
  .divider--inverted {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, .2);
    margin: 40px auto;
  }

  .divider--s {
    margin: 20px auto;
  }

  .tc-navy {
    color: #2e3746 !important;
  }

  .card--message {
    margin: 0 auto;

    .card-image {
      background-position: center 10%;
    }
  }
}

.card-activity {
  background-position: center center;
  background-size: cover;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.card-social {
  font-size: 19px;
  margin-top: 10px;

  a {
    border-bottom: none;
    margin-right: 5px;
    color: #4b3793;
    text-decoration: none;
  }
}

.grid--3 {
  p {
    font-size: 15px;
    margin-bottom: 0;
  }
}

.grid--6 {
  .card {
    max-width: none;
  }
}

strong {
  font-weight: 600 !important;
}

.mbf {
  margin-bottom: 0 !important;
  text-align: center;
}

@media only screen and (min-width: 1025px) {
  .well--l {
    h1 {
      font-size: 52px;
    }

    .card--horizontal {
      max-width: none;

      .card-image {
        height: 100%;
      }
    }
  }
  .grid--split {
    grid-template-columns: 1fr 2.5fr !important;

    h2 {
      font-size: 38px;
    }
  }
  .grid--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid--6 {
    grid-template-columns: repeat(6, 1fr) !important;
    grid-gap: 20px;
  }
  .card--profileSmall {
    .card-image {
      height: 180px !important;
    }
  }

}

@media only screen and (min-width: 480px) {
  .grid--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid--6 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form-fields {
  display: flex;
  margin-top: 15px;
  position: absolute;
  width: max-content;
  background-color: _palette(primary-blue);
  padding: 10px 20px;
  top: 100%;
  border-radius: 50px;

  @media only (max-width: 992px) and (min-width: 769px) {
    width: 600px;
  }
  @media only (max-width: 769px) and (min-width: 621px) {
    top: 80%;
    width: 100%;
  }
  @media only screen and (max-width: 620px) {
    display: block;
    top: 75%;
    width: 100%;
    p {
      width: 100% !important;
      padding: 0px 10px 0;
    }
    div {
      width: 100% !important;
      margin: 0 0 15px !important;
      padding: 0 20px;
    }
  }

  /*  @media only (max-width: 768px) {
      display: block;
      top: 75%;
      padding: 10px;
      p{
        display: none;
      }
      div{
        width:100% !important;
      }
    }*/
  div {
    width: 50%;
    float: right;
    margin: 15px;
  }

  p {
    width: 50%;
    font-size: 14px;
    color: _palette(bg);
    margin: 15px;
  }

  input {
    box-shadow: rgba(0, 0, 0, 0.07) 0 8px 25px 0;
    border: 1px solid #dedede !important;
    //max-width: 330px;
    border-radius: 50px !important;
  }
}


.coaching-primary-orange-btn {
  background: _palette(primary-orange);
  height: 50px;
  border: 1px solid;
  border-radius: 50px;
  color: _palette(bg);
  font-weight: 600;
  padding: 15px 30px;

  a {
    &:hover, &:focus {
      color: _palette(bg) !important;
    }
  }

  &:hover {
    background: _palette(primary-orange);
    border: 1px solid _palette(bg);
    color: _palette(bg);
    box-shadow: none;
  }

  &:focus {
    background: _palette(primary-orange);
    color: _palette(bg);
    border-color: _palette(bg);
  }
}

.coaching-primary-purple-btn {
  background: _palette(primary-purple);
  height: 50px;
  border: none;
  border-radius: 50px;
  color: _palette(bg);
  font-weight: bold;
  padding: 15px 30px;

  a {
    font-weight: bold;

    &:hover, &:focus {
      color: _palette(bg) !important;
    }
  }

  &:hover {
    background: _palette(primary-purple);
    border: none;
    color: _palette(bg);
    box-shadow: none;
  }

  &:focus {
    background: _palette(primary-purple);
    color: _palette(bg);
    border-color: unset;
  }
}

.border-radius-20 {
  border-radius: 50px;
}

.white-text {
  color: _palette(bg) !important;
}

.coaching-submit-icon {
  border: 3px solid _palette(bg);
  position: absolute;
  background-color: _palette(primary-orange);
  right: 36px;
  top: 25px;
  border-radius: 50px;
  padding: 15px;

  &:hover, &:focus {
    border: 3px solid _palette(bg);
  }

  @media only (max-width: 620px) and (min-width: 420px) {
    top: 86px;
    right: 40px;
  }
  @media only (max-width: 420px) and (min-width: 324px) {
    top: 109px;
    right: 40px;
  }
  @media screen and (max-width: 324px) {
    top: 132px;
    right: 40px;
  }
}


// Client Section

.client-section-group {
  transform: translateY(10%);

  .card-row {
    padding: 0 32px;
  }

  .image-col {
    img {
      width: 100%;
    }
  }

  .client-main-section {
    justify-content: space-between;
  }

  .below-img-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .box-container {
    padding: 15px 20px 10px;
    height: fit-content;
    border-radius: 5px;
    margin-top: 20px;

    .flex-justify {
      display: flex;
      align-items: end;
      justify-content: space-between;
      margin-bottom: 10px;

      img:first-child {
        width: 100px;
      }

      img:nth-child(2) {
        width: 20px;
        margin-right: 10px;
      }
    }

    p:last-child {
      margin-bottom: 10px;
    }
  }

  .margin-left {
    margin-left: 20px;
  }

  @media screen and (max-width: 769px) {
    transform: translateY(2%) !important;
    .card-row {
      padding: 0 20px;
    }
    .margin-bottom-25 {
      margin-top: 20px;
    }
    .col-reverse {
      flex-direction: column-reverse;
    }
    .below-img-section {
      display: block;

      .margin-left {
        margin-left: 0;
      }
    }
    .remove-margin {
      .card-col {
        margin: 0;
        width: 100%;
      }
    }
  }
}

/*
@media screen and  (max-width: 769px) {
  .custom-footer-bg{
    display: none;
  }
}
*/

.custom-footer-bg {
  width: 100%;
  margin-top: 80px;
}

.custom-footer-carousel {
  margin-top: -120px;
}

.coaching-download {
  transform: translateY(50%);

  h1 {
    margin-bottom: 0;
    text-align: center;
  }
}

.ant-dropdown-menu {
  min-width: 175px;

  .ant-dropdown-menu-item {
    &:hover {
      background-color: transparent;
    }

    a:hover {
      color: _palette(fg-bold) !important;
      padding-bottom: 2px;
      text-decoration: underline;
    }
  }
}


// ....... Blogs Section starts ....
.blog-section-group {
  transform: unset !important;
  padding: 0 20px 20px;
  margin-top: -20px;
}

.blog-section-container {
  min-height: calc(100vh - 500px);

  .card-row {
    padding: 0px 32px 0;
    @media screen and (max-width: 1023px) {
      padding: 0;
      .featured-blog-content {
        h2 {
          font-size: 24px !important;
        }
      }
    }
    @media screen and (max-width: 769px) {
      .featured-blog-content {
        margin: 0;
        height: 100% !important;
        min-height: unset !important;
      }
    }
  }

  .category-text {
    color: _palette(secondary-color) !important;
  }

  .blog-section {
    align-items: flex-start;
    background: transparent;
    @media screen and (max-width: 769px) {
      img {
        margin-bottom: 0;
      }
    }

    .top-blog-section {
      padding-right: 0 !important;
    }

    .featured-blog-content {
      padding: 32px !important;
      background: #F3FFFB;

      h2 {
        font-size: 36px;
        margin-top: 10px;
      }

      p {
        margin-left: 5px;
      }
    }
  }

  .col-reverse {
    background: transparent;

    .ant-col-md-2 {
      img {
        height: 150px;
      }
    }

    .blog-user, .blog-top-section-user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;

      .user-info {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        color: _palette(dark-gray);
        font-family: "Airbnb Cereal App Book", Helvetica !important;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          margin-right: 10px;
        }
      }

      .social-icons {
        i {
          border-radius: 50px;
          color: _palette(bg);
          font-size: 16px;
          padding: 10px;
          background: _palette(fg-bold);
          margin-left: 10px;
        }
      }

      .social-button {
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px;
        text-align: center;
      }

      .social__share-count {
        display: none;
        justify-content: center;
        white-space: nowrap;
        overflow: visible;
        width: 0;
        margin-top: 3px;
        font-size: 12px;
      }

      .social__share-button {
        cursor: pointer;
        box-shadow: none;
      }

      .social__share-button:hover:not(:active) {
        opacity: 0.75;
      }

      .social__custom-icon {
        width: 32px;
        height: 32px;
      }


      @media screen and (max-width: 470px) {
        flex-direction: column;
        .user-info {
          margin-bottom: 10px;
          margin-left: -10px;
        }
      }

    }

    .subtitle {
      font-size: 16px;
    }

    .recent-story-container {
      padding: 15px !important;
      background: #E9F3FF;

      .recent-story {
        .story {
          h3 {
            font-size: 18px !important;
          }
        }
      }
    }
  }

  //.....Feed Container starts.....

  .feeds-container {
    .recent-story {
      max-height: unset;

      .story {
        flex: 0 0 25%;
        display: block;
        padding: 0 10px;
        @media screen and (max-width: 800px) {
          flex: 0 0 50%;
          .story-content {
            p, h3 {
              margin-bottom: 8px !important;
            }

            h3 {
              font-size: 18px;
            }

            .category-tags {
              font-size: 16px;
            }
          }
        }

        @media screen and (max-width: 430px) {
          flex: 0 0 100%;
        }

        // Category images
        img {
          //width: 100%;
          width: 100%;
          height: 250px;
          border-radius: 6px;
          //max-height: 200px;
          background: lighten(_palette(primary-purple), 15%); // Background of top of the images of category
          border: 2px;
          //padding: 10px;
          @media screen and (max-width: 600px) {
            max-height: 250px;
          }
        }

        h4 {
          font-size: 18px !important;
          font-weight: 600;
        }
      }
    }
  }

  .category-container {
    .-centered {
      text-align: center;
      //font-size: 46px !important;
      color: _palette(fg-bold);
      @media (max-width: 600px) {
        font-size: 30px !important;
      }
    }

    .card-row {
      padding: 0;
    }
  }

  .category-section {
    padding: 36px 0 !important;
  }

  @media screen and (max-width: 1023px) {
    .category-section, .category-container {
      transform: unset !important;
    }
  }
  @media screen and (max-width: 769px) {
    margin-bottom: 70px;
  }
}

// ....... Blogs section ends......

// ..... Feed container ends ....

// Breadcrum
.category-tabs {
  padding: 85px 15px 0 10px;

  .ant-tabs-bar {
    border-bottom: none;
  }

  .menu-content,
  .ant-tabs-tab {
    font-family: 'Airbnb Cereal App Book', Helvetica;
    color: #5c5c5c;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 4px;
    //text-transform: uppercase;
  }

  .ant-tabs-ink-bar {
    display: none !important;
  }

  .ant-tabs-tab-active {
    color: _palette(secondary-color) !important;
  }
}

// More breadcrum overlay style
.breadcrum-more-overlay {
  max-width: 85em;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;

  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner-content {
    padding: 12px 24px;
  }

  @media screen and (max-width: 1225px) {
    padding: 10px 20px;
  }
}

.breadcrum-more {
  a {
    padding: 12px 4px 0;
    color: darken(_palette(primary-purple), 10%);
    font-size: 16px;
    //font-weight: 600;
    &:hover {
      color: darken(_palette(primary-purple), 15%) !important;
      line-height: 1.6rem;
      border-bottom: 1px solid;
    }
  }
}

.breadcrum-more-content {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;

  .parent-container {
    flex: 0 0 25%;

    h3 {
      font-family: 'Airbnb Cereal App Book', Helvetica;
      color: #5c5c5c;
      font-weight: 500;
      font-size: 1.2em;
      margin-bottom: 0px;
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        font-family: 'Swasth-font', Helvetica;
        color: _palette(secondary-color);
        padding-left: 0;
        font-size: 16px;
        //font-weight: bold;
        width: fit-content;
        margin-bottom: 0px;

        &:hover {
          color: darken(_palette(primary-purple), 15%);
          line-height: 1.6rem;
          border-bottom: 1px solid;
        }

        a:hover {
          color: darken(_palette(primary-purple), 15%) !important;
        }
      }
    }

    .active-breadcrum {
      color: darken(_palette(primary-blue), 10%);

      a:hover {
        color: darken(_palette(primary-blue), 10%) !important;
      }
    }

    @media screen and (max-width: 1024px) {
      flex: 0 0 33%;
    }
    @media screen and (max-width: 600px) {
      flex: 0 0 50%;
    }
    @media screen and (max-width: 425px) {
      flex: 0 0 100%;
    }
  }
}

// Breadcrum overlay style end

.no-top-space-tabs {
  @media screen and (max-width: 769px) {
    margin-top: 0;
  }
}

.blog-content {
  img {
    width: 100%;
  }

  h3 {
    margin: 1em 0 0.5em;
  }

  h4 {
    margin: 0em 0 0.5em;
  }

  p {
    font-size: 14px;
    font-family: 'Arial';
  }

  li {
    font-size: 14px;
    //line-height: 0.1em;
    margin-bottom: 1em;
  }

  a {
    color: _palette(secondary-color);

    &:hover {
      color: darken(_palette(secondary-color), 10%) !important;
    }
  }
}


// ... Tags design .....
.blog-tags {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  margin-top: 20px;

  p {
    border: 1px solid _palette(secondary-color);
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 5px !important;
    color: _palette(secondary-color) !important;
  }
}

.category-tags {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;

  p {
    font-size: 16px !important;
    padding: 0 5px;
    margin-left: 0 !important;
    color: _palette(secondary-color) !important;
    //font-weight: bold;
    margin-bottom: 0px;
  }

  a {
    &:not(:last-child) {
      p {
        border-right: 1px solid;
      }
    }
  }
}

// .... Tags design ends .....

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
}

.initial-section {
  margin-top: 30px;
}

.second-fold-row {
  .second-fold-img, .transform-section-img {
    width: calc(100% + 65em);
    transform: translateX(-30%) translateY(-5%);
    height: 70rem;
  }

  .second-fold-bg {
    position: absolute;
    top: -2%;
    z-index: 1;

    ul {
      list-style: disc;
      padding: 18px;
      margin-top: 10px;

      li {
        text-align: left;
      }
    }


    @media screen and (max-width: 600px) {
      .grid {
        grid-template-columns: 1fr !important;
      }
      .life-coach-grid-section {
        h5 {
          min-height: unset;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .transform-section-img {
      display: none;
    }
    .second-fold-bg, .feature-collection {
      position: unset;
      margin-bottom: 0;
    }
  }
}

.testimonials-title {
  h3 {
    color: _palette(dark-blue);
    text-align: center;
    margin: 40px 0 20px;
    //font-weight: 600;
  }
}


.profile-section {
  .transform-section-img {
    z-index: -1;
    transform: rotateX(190deg) translateX(-30%) translateY(-5%);
  }

  .ant-col {
    position: absolute;

    &:last-child {
      right: 0;
    }
  }
}

.testimonials-title {
  h3 {
    color: _palette(dark-blue);
    text-align: center;
    margin: 20px 0 40px;
    //font-weight: 600;
  }
}

.user-testimonial {
  .life-coach-grid-section {
    cursor: pointer;
    transition: all 0.5s;
    //box-shadow: rgba(103, 183, 222, 0.15) 16px 0 0 0.10px;
    .card-text {
      height: auto !important;
      padding: 10px 20px 20px;
      min-height: 250px;
      border-radius: 15px;

      a {
        color: darken(_palette(primary-blue), 10%);
        font-size: 16px;
        margin: 10px 0;
      }

      h5 {
        color: _palette(primary-navy-blue);
        text-align: left;
      }

      p {
        color: #818181;
        font-size: 16px;
        text-align: left;
        -webkit-box-orient: vertical;
        display: block;
        //font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        font-size: 0.9rem;
      }

      h5 {
        font-size: 22px;
        text-transform: unset;
        font-weight: 600;
        line-height: 1.5 !important;
        margin-top: 20px;
        min-height: 66px;
      }

      .hide-ul {
        display: none;
      }
    }

    &:hover {
      .hide-ul {
        display: block;
      }

      //
      //a{
      //  color: #238cc7;
      //  &:hover{
      //    color: #238cc7 !important;
      //  }
      //}
    }
  }

  .card-text {
    text-align: left;
    min-height: 350px;
    box-shadow: 0 10px 22px 0 rgba(233, 233, 233, 0.6);
    transition: transform 0.2s linear;
    //margin-left: 20px;
    //margin-right: 20px;
    img {
      width: 24px;
      height: 24px;
      margin: 10px 0;
    }

    .user-img {
      display: flex !important;
      align-items: center !important;
      justify-content: space-between;
      width: 100%;
      color: _palette(dark-blue);

      .user-info {
        display: flex;
        align-items: center;
        margin-top: 20px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  @media screen and (max-width: 800px) {
    padding: 0 24px 0 24px !important;
  }

  .grid {
    display: grid;
    grid-gap: 20px;
    @media screen and (min-width: 1200px) {
      grid-gap: 40px;
    }
    @media screen and (min-width: 1025px) {
      grid-gap: 30px;
    }
    @media screen and (min-width: 426px) {
      grid-template-columns: 1fr !important;
    }
    @media screen and (min-width: 600px) {
      grid-template-columns: 1fr 1fr !important;
    }
    @media screen and (min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr !important;
    }
  }
}

// Show More testimonial
.show-more-testimonial {
  margin-top: 30px;
  text-align: center;
  color: _palette(secondary-color);

  a {
    background: white;
    padding: 15px;
    border: 1px solid;
    font-size: 16px;
    border-radius: 9px;
  }

  a:hover {
    color: white !important;
    background: _palette(secondary-color);
  }
}

.client-main-section {
  justify-content: space-between;
}

.below-img-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 430px) {
  .recent-stories-section {
    .story:not(:last-child) {
      border-bottom: 1px solid _palette(primary-purple);
      padding: 10px 0;
    }
  }
}

// Css for blog date
.blog-date {
  margin: 0 0 10px;
  color: #032230;
  font-size: 14px;
  font-family: 'Avenir', Helvetica !important;
}

// For coaching coming soon page

.coaching-coming-soon-section {
  padding-top: 100px;

  h2 {
    text-align: center;
    color: _palette(dark-blue);
    font-weight: 600;
  }
}

// Program adapts section
.program-row-adapts {
  display: flex;
  .program-adapts {
    margin-right: 30px;
    @media screen and (max-width: 769px) {
      margin-bottom: 15px !important;
    }
  }
  @media screen and (max-width: 769px) {
    flex-direction: column !important;
  }
}


.black-18-font {
  color: #7c7c7c;
  font-size: 18px;
  @media only screen and (max-width: 800px) {
    font-size: 20px;
    text-align: left !important;
  }
}

.updated-home-image {
  width: 80% !important;
  @media screen and (max-width: 1200.5px) {
    width: 100% !important;
  }
  @media screen and (max-width: 769.5px) {
    margin-bottom: 30px;
  }
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #2b2b2b;

  .-highlighted-text {
    color: _palette(primary-blue);
  }

  @media only screen and (max-width: 769.5px) {
    margin-top: 50px;
  }
  @media only screen and (max-width: 800px) {
    text-align: left !important;
    font-size: 48px;
    line-height: 60px;
  }
  @media only screen and (max-width: 600px) {
    text-align: left !important;
    font-size: 40px;
    line-height: 50px;
  }
}


// Engage Community Section
.engage-community-row {
  width: 100%;
  overflow: auto;
  @media screen and (max-width: 800px) {
    align-items: flex-start !important;
  }
}

.engage-community-section {
  display: flex;
  justify-content: center;
  overflow: auto;

  .engage-community-card {
    width: 280px;
    height: 300px;
    margin: 0 10px;
    border-radius: 15px;
    box-shadow: 0 12px 19px 0 rgba(60, 128, 209, 0.09);
    background-color: #ffffff;
    text-align: left;

    .community-image {
      width: 100%;
      height: 150px;
      opacity: 0.9;
      border-radius: 15px 15px 0 0;
    }

    .card-content {
      padding: 15px;
      position: relative;
      height: 150px;
      margin-top: -15px;

      .card-title {
        font-size: 14px;
        color: #000000;
        line-height: 20px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .users-list {
        img {
          width: 20px;
          height: 20px;
          position: absolute;

          &:first-child {
            left: 15px;
          }

          &:nth-child(2) {
            left: 25px;
          }

          &:last-child {
            left: 35px;
          }
        }
      }

      .community-msg {
        margin-top: 40px;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    justify-content: flex-start;
    .engage-community-card {
      max-width: 400px;
      height: 400px;

      .community-image {
        height: 200px;
      }

      .card-title {
        font-size: 16px !important;
      }

      .community-msg {
        margin-top: 40px !important;
        font-size: 14px !important;
        line-height: 20px !important;
      }
    }
  }
}


.section-gap {
  margin-top: 100px !important;
  @media screen and (max-width: 800px) {
    margin-top: 50px !important;
  }
}

.reverse-flex-column {
  @media screen and (max-width: 769.5px) {
    flex-direction: column-reverse !important;
    img {
      margin-top: 20px;
    }
  }
}

.store-icon {
  @media screen and (max-width: 800px) {
    width: 50% !important;
  }
}
