.all-programs-page {
  padding-top: 50px;
  padding-bottom: 50px;

  .category-tabs-container {
    background-color: _palette(bg);
    border-radius: 15px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;

    .tab-text {
      color: _palette(primary-blue);
      font-size: 18px;
      margin-bottom: 0px;
      cursor: pointer;

      &:first-child {
        margin-right: 50px;
      }
    }

    .selected-category-tab {
      height: 50px;
      background-color: _palette(primary-blue);
      color: _palette(bg);
      border-radius: 50px;
      padding: 5px 30px;
      display: flex;
      align-items: center;
    }

  }
  .programs-list {
    .section-card{
      justify-content: flex-end;
      position: relative;
      .content{
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 0;
        width: 100%;
        border-radius: 0 0 15px 15px;
        background-image: linear-gradient(to bottom, #4170ed03 -3%, #0d4df6 103%);
      }
      h4{
        color: white;
        margin-top: 0px;
      }
      p{
        color: white;
        margin-top: 10px;
      }
    }
  }

}
